{% load static %}

<div class="text-center">
    <img src="{% static 'user_types/roots.png' %}" alt="Суперпользователь" height=100 class="avatar">
    <p class="text-muted">Суперадминистратор</p>
</div>
<ul class="nav nav-tabs" id="accounttab" role="tablist">
    <li class="nav-item">
    <a class="nav-link active" id="account-tab" data-toggle="tab" href="#account" role="tab" aria-controls="account" aria-selected="false">Профиль</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Настройки</a>
    </li>
</ul>
<div class="tab-content my-3" id="accounttabcontent">
    <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
        <h4><i class="fas fa-user-circle"></i> Данные аккаунта</h4>
        <div class="my-3" >
        <p>Адрес электронной почты: {{ user.email }}</p>
        </div>
        
    </div>
    <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
        <h4><i class="fas fa-key"></i> Сбросить пароль</h4>
        <p>Перейдите по ссылке для сброса пароля:</p>
        <a href="{% url 'reset_password' %}" class="btn btn-primary btn-sm">Сбросить пароль</a>
    </div>
</div>