{% load static %}

{% with student=user.student %}

<div class="text-center">
    <img src="{% static 'user_types/students.png' %}" alt="Ученик" height=100 class="avatar">
    <p class="text-muted">Ученик</p>
</div>

<ul class="nav nav-tabs" id="accounttab" role="tablist">
    <li class="nav-item">
    <a class="nav-link active" id="account-tab" data-toggle="tab" href="#account" role="tab" aria-controls="account" aria-selected="false">Профиль</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Настройки</a>
    </li>
</ul>
<div class="tab-content my-3" id="accounttabcontent">
    <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
        <h4><i class="fas fa-user-circle"></i> Данные аккаунта</h4>
        <div class="my-3">
        <p>Адрес электронной почты: {{ user.email }}</p>
        <p>Имя: {{ student.first_name }}</p>
        <p>Фамилия: {{ student.surname }}</p>
        <p>Отчество: {{ student.second_name }}</p>
        {% if student.grade == None %}
        <p class="text-muted">Ваш класс еще не указан. Попросите Вашего классного руководителя добавить Вас.</p>
        {% else %}
        <p>Класс: {{ student.grade }}</p>
        {% endif %}
        </div>
    </div>
    <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
        <h4><i class="fas fa-key"></i> Сбросить пароль</h4>
        <p>Перейдите по ссылке для сброса пароля:</p>
        <a href="{% url 'reset_password' %}" class="btn btn-primary btn-sm">Сбросить пароль</a>
        <h4 class="mt-3"><i class="fas fa-edit"></i> Изменить данные</h4>
        <p>Вы не можете изменять свои данные самостоятельно, но если в указанной информации есть ошибка, отправьте
            администратору просьбу изменить Ваши данные.</p>
        <a href="{% url 'message_to_admin' %}" class="btn btn-primary btn-sm">Отправить</a>
    </div>
</div>

{% endwith %}