{% extends 'base/base.html' %}
{% load static %}
{% load templateLibs %}

{% block title %}
<title>{{ title }}</title>
{% endblock %}

{% block content %}
<div class="container my-5">

    {% if objects %}
    <div class="table-responsive">
        <table class="table text-center">
            <thead class="thead-dark">
                <tr>
                    <!--Add other headers to display-->
                    <th scope="col">Школа</th>
                    <th scope="col">Номер урока</th>
                    <th scope="col">Начало</th>
                    <th scope="col">Конец</th>

                    <!--Headers for deleting or editing rows-->
                    <th scope="col">Изменить</th>
                    <th scope="col">Удалить</th>
                </tr>
            </thead>
            <tbody>
                {% for object in objects %}
                    <tr>
                        <!--Add custom attrinutes to display-->
                        <td>{{ schools|lookup:object.school }}</td>
                        <td>{{ object.n }}</td>
                        <td>{{ object.start }}</td>
                        <td>{{ object.end }}</td>

                        <!--Edit and delete buttons-->
                        <td><a class="btn btn-sm btn-primary" href="{% url 'bells_update' object.pk %}"><i class="fas fa-edit"></i></a></td>
                        <td><a class="btn btn-sm btn-danger" href="{% url 'bells_delete' object.pk %}"><i class="fas fa-trash-alt"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="alert alert-secondary">
        <p><i class="fas fa-info px-3"></i>Не было найдено ни одного объекта</p>
    </div>
    {% endif %}

    <!--Create button-->
    <div class="text-center">
        <a href="{% url 'bells_create' %}" class="btn btn-success"><i class="fas fa-plus"></i></a>
    </div>


    <!--Paginator-->
    <nav class="mt-5">
        <ul class="pagination justify-content-center">
            {% if objects.has_previous %}
                <li class="page-item"><a href="/timetable/bells/dashboard/1" class="page-link">&laquo;</a></li>
                <li class="page-item"></li><a href="/timetable/bells/dashboard/{{ objects.previous_page_number }}" class="page-link">&lt;</a>
            {% endif %}

            <span class="current">
                <li class="page-item active"><a href="#" class="page-link">{{ objects.number }}</a></li>
            </span>

            {% if objects.has_next %}
                <li class="page-item"><a href="/timetable/bells/dashboard/{{ users.next_page_number }}" class="page-link">&gt;</a></li>
                <li class="page-item"><a href="/timetable/bells/dashboard/{{ users.paginator.num_pages }}" class="page-link">&raquo;</a></li>
            {% endif %}
        </ul>
    </nav>

    <div class="py-5">
        <div class="alert alert-secondary py-4">
            <i class="fas fa-info px-3"></i>Если Вам требуется помощь, попробуйте найти ответы в <a href="/{{ wiki }}">справочном руководстве</a></i>
        </div>
        <p>Всего объектов: {{ amount }}</p>
    </div>
</div>
{% endblock %}
