<div class="modal fade" id="comment-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="lessonmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lessonmodalLabel">Комментарий к оценке</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="comment">Текст комментария</label>
                    <textarea name="comment" id="comment-text" class="form-control" maxlength="400" cols="40" rows=5></textarea>
                </div>
                <input id="comment-hidden" type="hidden" value="">
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Отменить</button>
                    <button type="button" class="btn btn-outline-primary" onclick="addComment()">Создать</button>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>