<div class="modal fade" id="lessonmodal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="lessonmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lessonmodalLabel">Создать новый урок</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.date.label_tag }}
                    <div class="input-group mb-3">
                        {{ form.date }}
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                        </div>
                        <div class="invalid-feedback">
                            Урок не может быть на каникулах
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.theme.label_tag }}
                        {{ form.theme }}
                    </div>

                    <div class="form-group">
                        {{ form.control.label_tag }}
                        {{ form.control }}
                    </div>

                    <div class="my-3">
                        <a href="#collapse-hw" data-toggle="collapse" class="my-5" id="hwbutton" onclick="changeBtnText();">Домашнее задание</a>
                    </div>

                    <div id="collapse-hw" class="collapse">
                        <div class="form-group">
                            <label for="id_homework">Домашнее задание <i>на этот урок</i></label>
                            {{ form.homework }}
                        </div>
                        <div class="form-group">
                            <div class="custom-file">
                                {{ form.h_file }}
                                <label for="id_h_file" class="custom-file-label">Файл с заданием</label>
                            </div>
                        </div>
                    </div>

                    <a href="#" data-dismiss="modal" class="btn btn-secondary">Отменить</a>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#lessonplan" aria-hidden="true" data-dismiss="modal">Добавить из плана</button>
                    <button type="submit" class="btn btn-primary" name="createlesson">Добавить</button>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>

<script>
    let value = false;
    function changeBtnText() {
        if (!value)
            $("#hwbutton").text("Скрыть")
        else
            $("#hwbutton").text("Домашнее задание")
        value = !value
    }
</script>

{% if form.errors %}
    <script>
        $("#lessonmodal").modal("show")
    </script>
{% endif %}