<div class="modal fade" id="lessonplan" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="lessonplanLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lessonplanLabel">Создать урок из плана</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% if plan_data %}
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                <div class="form-group">
                    <select name="plan_id" class="form-control">
                        {% for plan in plan_data %}
                            <option value="{{ plan.id }}">{{ plan.date }} {{ plan.theme }}</option>
                        {% endfor %}
                    </select>
                </div>

                    <button type="submit" class="btn btn-primary" name="createlesson">Добавить</button>
                    <button type="close" class="btn btn-secondary" data-toggle="modal" data-target="#lessonmodal" aria-hidden="true" data-dismiss="modal"> Отменить</button>
                </form>
                {% else %}
                    В плане нет уроков (

                {% endif %}
            </div>

            </div>
        </div>
    </div>
</div>

<script>
    let value = false;
    function changeBtnText() {
        if (!value)
            $("#hwbutton").text("Скрыть")
        else
            $("#hwbutton").text("Домашнее задание")
        value = !value
    }
</script>
