<td {% if lesson.control.name == 'Четвертная оценка' %} class="quater-mark" {% endif %} {% if lesson.control.name == 'Годовая оценка' %} class="year-mark" {% endif %}>
    <select 
        name="{{ student.account_id }}|{{ lesson.id }}"
        class="inp_table select"
        onchange="myfunction(this)"
        oncontextmenu="commentDialog(this); return false;">
        <option value="0" {% if not mark %}selected{%endif%}></option>
        <option value="5" {% if mark and mark.amount == 5 %}selected{% endif %}>5</option>
        <option value="4" {% if mark and mark.amount == 4 %}selected{% endif %}>4</option>
        <option value="3" {% if mark and mark.amount == 3 %}selected{% endif %}>3</option>
        <option value="2" {% if mark and mark.amount == 2 %}selected{% endif %}>2</option>
        <option value="-1" {% if mark and mark.amount == -1 %}selected{% endif %}>Н</option>
    </select>
</td>