<div class="card card-50 my-5">
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-6 col-sm-4">
                    <div class="form-group">
                        <label for="subject">Предмет</label>
                        <select name="subject" id="subject" class="form-control auto-save">
                            {% for subject in subjects %}
                                <option>{{ subject }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-6 col-sm-4">
                    <div class="form-group">
                        <label for="grade">Класс</label>
                        <select name="grade" id="grade" class="form-control auto-save">
                            {% for grade in grades %}
                                <option >{{ grade }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-6 col-sm-4">
                    <div class="form-group">
                        <label for="term">Четверть</label>
                        <select name="term" id="term" class="form-control auto-save">
                            <option value="1">I</option>
                            <option value="2">II</option>
                            <option value="3">III</option>
                            <option value="4">IV</option>
                        </select>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-outline-primary" name="getgrade">Показать</button>
        </form>
    </div>
</div>