<div class="">
    <form method="POST" id="mySelectForm">
        {% csrf_token %}
        <input type="hidden" name="getgrade">
        <div class="row">
            <div class="col-6 col-md-3">
                <div class="mb-3">
                    {{ group_form.subjects.label_tag }}
                    {{ group_form.subjects }}
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="mb-3">
                    {{ group_form.classes.label_tag }}
                    {{ group_form.classes }}
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="mb-3">
                    {{ group_form.quarters.label_tag }}
                    {{ group_form.quarters }}
                </div>
            </div>
            <script>
                $(".selectFormInput").on("change", function () {
                    $("#mySelectForm").submit();
                })
            </script>
        </div>
    </form>
</div>