{% extends 'base/base.html' %}


{% block content %}

<div class="container my-5">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'admin_panel' %}">Панель</a></li>
            <li class="breadcrumb-item"><a href="{% url 'users:users' %}">Пользователи</a></li>
            <li class="breadcrumb-item"><a href="{% url 'users:messages' %}">Сообщения</a></li>
            <li class="breadcrumb-item active">{{ m.id }}</li>
        </ol>
    </nav>


    <div>
        <b>Тема: </b> {{ m.subject }}
    </div>
    <div>
        <b>Время отправки: </b>{{ m.date|date:"G:i d/m/y" }}
    </div>
    <div>
        <b>Отправитель: </b> {{ m.sender.surname }} {{ m.sender.first_name }} {{ m.sender.second_name }}
    </div>

</div>

{% endblock %}