{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    <title>Добавление учителя</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock %}

{% block content %}
<div class="container my-5">

    <nav class="mb-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'admin_panel' %}">Панель</a></li>
            <li class="breadcrumb-item"><a href="{% url 'users:users' page=1 %}">Пользователи</a></li>
            <li class="breadcrumb-item active">Добавление учителя</li>
        </ol>
    </nav>

    <div class="row justify-content-sm-center">
		<div class="col col-md-9 col-lg-6">
            <div class="card my-3">
                <div class="card-body">
                    <h2 class="card-title text-center">Добавление учителя</h2>
                    <form method="POST" onsubmit="return validateMyForm();">
                        {% if form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for error in form.non_field_errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% csrf_token %}
                        <div class="mb-3">
                            {% with field=form.email %}
                                {% include 'field.html' %}
                            {% endwith %}
                        </div>
                        <div class="mb-3">
                            {% with field=form.first_name %}
                                {% include 'field.html' %}
                            {% endwith %}
                        </div>
                        <div class="mb-3">
                            {% with field=form.surname %}
                                {% include 'field.html' %}
                            {% endwith %}
                        </div>
                        <div class="mb-3">
                            {% with field=form.second_name %}
                                {% include 'field.html' %}
                            {% endwith %}
                        </div>
                        <div class="mb-3">
                            {% with field=form.subjects %}
                                {% include 'field.html' %}
                            {% endwith %}
                            <small class="text-muted">
                                Чтобы выбрать несколько предметов на ПК,
                                удерживайте клавишу SHIFT.
                            </small>
                        </div>
                        <div class="mb-3">
                            {% with field=form.password1 hide_label=True hide_errors=True hidehelp=True %}
                            <label for="{{ field.auto_id }}" class="form-label">{{ field.label }}</label>
                            <div class="input-group" id="show_hide_password">
                                {% include 'field.html' %}
                                <span class="input-group-text">
                                    <a href="#"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                                </span>
                            </div>
                            <div id="message" class="mx-5 my-3">
                                <p id="letter" class="invalid">Содержит <b>буквы</b></p>
                                <p id="number" class="invalid">Содержит минимум <b>1 число</b></p>
                                <p id="length" class="invalid">Содержит минимум <b>8 символов</b></p>
                            </div>
                            {% endwith %}
                        </div>
                        <div class="mb-3">
                            {% with field=form.password2 %}
                                {% include 'field.html' %}
                            {% endwith %}
                        </div>
                        <button type="submit" class="btn btn-outline-primary">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="{% static 'js/registration.js' %}"></script>
{% endblock %}