{% extends 'base/base.html' %}
{% load static %}

{% block title %}
<title>Сброс пароля</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/card_align.css' %}">
<link rel="stylesheet" href="{% static 'css/card_width.css' %}">
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="card card-50">
        <div class="card-body">
            <h3 class="text-center card-title">Введите новый пароль</h3>
            <p>Введите новый пароль для своего аккаунта.</p>
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-primary">Обновить пароль</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
