.inp_table{
    border: 0px;
    -webkit-appearance: none;
    height: 100%;
    width: 100%;
    background-color: white;
    
}
.inp_table:focus{
    outline:none;
}
.inp_table::-webkit-inner-spin-button {
  display: none;
}
