{% extends 'base/base.html' %}
{% load static %}

{% block title %}
<title>Оценки</title>
{% endblock %}

{% block css %}
<style>
    .sm-width {
        width:2%;
    }
    .md-width {
        width:10%;
    }
</style>
<script src="{% static 'js/clipboard.min.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container my-5">

    <div class="row">
        <div class="col-12 col-md-6">
            <form method="GET">
                <div class="mb-3">
                    {% with field=form.quarter hide_errors=True hide_label=True %}
                        {% include 'field_template.html' %}
                    {% endwith %}
                </div>
                <script>
                    $("#id_quarter").on("change", function () {
                        $("form").submit();
                    })
                </script>
            </form>
        </div>    
    </div>
   
    {% if data %}
    <div class="table-responsive mt-4">
        <table class="table table-sm table-bordered" id="marks_table">
            <thead>
                <tr>
                    <th scope="col">Предмет</th>
                    <th scope="col" class="text-center" tabindex="0" data-trigger="focus" data-toggle="popover" title="Средний балл" data-content="Высчитывается исходя из среднего арифметического оценок.">
                        AVG
                    </th>
                    <th scope="col" class="text-center" tabindex="0" data-trigger="focus" data-toggle="popover" title="Взвешенный средний балл" data-content="Взвешенный балл высчитывается с помощью системы весов - исходя из значимости определенного вида работы.">
                        SM.AVG
                    </th>
                    <th scope="col" colspan="{{ max_length }}"></th>
                </tr>

            </thead>
            <tbody>
                {% for group, marks in data.items %}
                    <tr>
                        <td class="md-width"><a href="{% url 'statistics' group.subject.id term %}">{{ group.subject }}</a></td>
                        <td class="text-center md-width">{{ marks.0 }}</td>
                        <td class="text-center md-width">{{ marks.1 }}</td>
                        {% for mark in marks.2 %}

                            {% if mark.amount == 2 %}
                            <td style="color:red" tabindex="0" data-trigger="focus" data-toggle="popover" title="{{ mark.lesson.date|date:'d.m, D' }}" data-content="<i>{{ mark.lesson.theme }}</i><br><b>{{ mark.lesson.control }}</b><br>{{ mark.comment }}"><b>{{ mark.amount }}</b></td>
                            {% elif mark.amount == 3 %}
                                <td style="color:orangered" tabindex="0" data-trigger="focus" data-toggle="popover" title="{{ mark.lesson.date|date:'d.m, D' }}" data-content="<i>{{ mark.lesson.theme }}</i><br><b>{{ mark.lesson.control }}</b><br>{{ mark.comment }}"><b>{{ mark.amount }}</b></td>
                            {% elif mark.amount == 4 %}
                                <td style="color:darkorange" tabindex="0" data-trigger="focus" data-toggle="popover" title="{{ mark.lesson.date|date:'d.m, D' }}" data-content="<i>{{ mark.lesson.theme }}</i><br><b>{{ mark.lesson.control }}</b><br>{{ mark.comment }}"><b>{{ mark.amount }}</b></td>
                            {% elif mark.amount == 5 %}
                                <td class="text-success" tabindex="0" data-trigger="focus" data-toggle="popover" title="{{ mark.lesson.date|date:'d.m, D' }}" data-content="<i>{{ mark.lesson.theme }}</i><br><b>{{ mark.lesson.control }}</b><br>{{ mark.comment }}"><b>{{ mark.amount }}</b></td>
                            {% else %}
                                <td class="text-secondary" tabindex="0" data-trigger="focus" data-toggle="popover" title="{{ mark.lesson.date|date:'d.m, D' }}" data-content="<i>{{ mark.lesson.theme }}</i><br><b>{{ mark.lesson.control }}</b><br>{{ mark.comment }}"><b>Н</b></td>
                            {% endif %}
                        {% endfor %}
                        
                        {% for n in marks.3 %}
                        <td></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
            </table>
            <p>Всего пропущено уроков: {{ missed  }}</p>
    </div>
    <button type="button" class="btn btn-primary copy_btn copy" data-clipboard-target="#marks_table"><i class="fas fa-copy"></i></button>    
    {% else %}
    <div class="text-center">
        <img src="{% static 'search.svg' %}" alt="" width="100">
        <p class="text-muted my-3">Мы не можем найти ни одной оценки на эту четверть.</p>
        <a href="{% url 'diary' %}" class="btn btn-primary">Назад</a>
    </div>
    {% endif %}
</div>
<script>
    $('[data-toggle="popover"]').popover({ trigger: "focus", html:true });
    
    $('.copy').tooltip({
        trigger: 'click',
        placement: 'bottom'
        });

    function setTooltip(message) {
        $('.copy').tooltip('hide')
            .attr('data-original-title', message)
            .tooltip('show');
    }
        
    function hideTooltip() {
        setTimeout(function() {
            $('.copy').tooltip('hide');
        }, 1000);
    }

    clipboard = new ClipboardJS('.copy_btn');

    clipboard.on('success', function(e) {
        e.clearSelection();
        setTooltip('Скопировано!');
        hideTooltip();
    });
    
</script>
{% endblock %}