{% extends 'base/base.html' %}


{% block content %}

<div class="container my-5">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'admin_panel' %}">Панель</a></li>
            <li class="breadcrumb-item"><a href="{% url 'users:users' 1 %}">Пользователи</a></li>
            <li class="breadcrumb-item active">Сообщения</li>
        </ol>
    </nav>

    <div class="table-responsive my-4">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>Тема</th>
                    <th>Дата</th>
                    <th>Отправитель</th>
                </tr>
            </thead>
            <tbody>
                {% for m in messages %}
                    <tr id="{{ m.id }}" is-read="{{ m.is_read }}" onclick="viewMessage(this)">
                        <td>{{ m.subject }}</td>
                        <td>{{ m.date|date:"G:i d/m/y" }}</td>
                        <td>{{ m.sender.surname }} {{ m.sender.first_name }} {{ m.sender.second_name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("tr[is-read=False]").addClass("table-light");
    });

    function viewMessage(that) {
        let id = $(that).attr("id");
        document.location = `/admin/users/message/${id}`;
    }
</script>

{% endblock %}