{% extends 'base/base.html' %}
{% load static %}

{% block title %}
<title>Уроки</title>
<style>
    input {
        border: none;
        width: 100%;
    }

    select {
        border: none;
        width: 100%;
        background-color: rgb(230, 230, 230);
        -webkit-appearance: none;
    }

    tr td:last-child {
        width: 5%;
        white-space: nowrap;
    }

    table {
        width: 100%;
    }

    .plan-badge {
        width: 100%;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
{% endblock %}


{% block content %}

<div class="container my-5">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"> <a href="{% url 'diary' %}">Оценки</a></li>
            <li class="breadcrumb-item active"><a href="{{ request.path }}">Уроки</a></li>
        </ol>
    </nav>

    <div class="my-4">
        <button type="button" class="btn btn-outline-primary my-1" data-toggle="modal" data-target="#lessonmodal">
            Добавить урок
        </button>
        <button type="button" class="btn btn-outline-primary my-1" data-toggle="modal">
            Добавить д/з
        </button>
        <!-- <button type="button" class="btn btn-outline-primary my-1" data-toggle="modal">
            Утилиты
        </button> -->
    </div>

    <input type="hidden" value="{{ request.session.group }}" id="group">
    <input type="hidden" value="{{ request.session.term }}" id="term">

    <div id="app">
        <div v-if="lessons === undefined" class="text-center my-5">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div v-else-if="lessons.length != 0">
            <div class="table-responsive">
                <table table class="table table-sm">
                    <thead class="thead-dark">
                        <th class="text-center">План</th>
                        <th>Дата</th>
                        <th>Тема урока</th>
                        <th>Вид работы</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr :id="lesson.id"
                            v-for="lesson in lessons">
                            <td class="text-center" onclick="changePlanState(this)">
                                <div v-if="lesson.is_plan" class="plan-badge">
                                    <span class="badge badge-success">ПЛАН</span>
                                </div>
                            </td>
                            <td><input type="date" :id="'date' + lesson.id" :value="lesson.date" v-on:change="editLessonInfo(lesson.id)"></td>
                            <td><input type="text" :id="'theme' + lesson.id" :value="lesson.theme" v-on:change="editLessonInfo(lesson.id)"></td>
                            <td>
                                <select name="" :id="'control' + lesson.id" v-on:change="editLessonInfo(lesson.id)">
                                    <template v-for="control in controls">
                                        <option :selected="control.id == lesson.control" :value="control.id">[[ control.name ]]</option>
                                    </template>
                                </select>
                            </td>
                            <td onclick="showMenu(this); return false;" class="text-center">
                                <i class="fas fa-trash text-danger"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div v-else>
            <div class="card card-body text-center">
                <img class="mx-auto" src="{% static 'icons/cactus.svg' %}" alt="" width="80" height="80">
                <p class="mt-2">Ни один урок ещё не был создан</p>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="delete-lesson" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Удаление урока</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Отменить">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Вы уверены, что хотите удалить этот урок?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" v-on:click="deleteLesson(id)">Да</button>
            </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="plan-lesson" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-body">
                Вы уверены, что хотите изменить поле "План"?
                <div class="mt-3">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary" v-on:click="changeLessonPlanState(id)">Да</button>
                </div>
            </div>
            </div>
        </div>
    </div>

    {% include 'teacher_page/create_lesson.html' %}

</div>

{% endblock %}

{% block js %}
<script>
    const csrf = Cookies.get("csrftoken")

    const app = new Vue({
        el: "#app",
        delimiters: ["[[", "]]"],
        data: {
            lessons: undefined,
            controls: undefined,
        },
        methods: {
            editLessonInfo: function (pk) {
                let date = $("#date" + pk).val()
                let theme = $("#theme" + pk).val()
                let control = Number($("#control" + pk).val())
                $.ajax({
                    headers: {
                        "X-CSRFToken": csrf
                    },
                    data: {
                        "date": date,
                        "theme": theme,
                        "control": control
                    },
                    url: "/api/inbuilt/edit-lesson/" + pk,
                    method: "PATCH",
                    success: function (data) {
                        refresh()
                    },
                })
            }
        }
    })

    const modalApp = new Vue({
        el: '#delete-lesson',
        delimiters: ["[[", "]]"],
        data: {
            id: undefined
        }
    })

    const planApp = new Vue({
        el: '#plan-lesson',
        delimiters: ["[[", "]]"],
        data: {
            id: undefined
        }
    })

    function refresh() {
        $.ajax({
            url: "{% url 'api:inbuilt:list-lessons' %}",
            method: "GET",
            data: {
                "group": $("#group").val(),
                "term": $("#term").val()
            },
            success: function (data) {
                app.lessons = data
            }
        })
    }

    function showMenu(that) {
        modalApp.id = $(that).parent().attr("id")
        $("#delete-lesson").modal("toggle")
    }

    function getControls() {
        $.ajax({
            url: "{% url 'api:inbuilt:list-controls' %}",
            method: "GET",
            success: function (data) {
                app.controls = data
            }
        })
    }

    refresh()
    getControls()

    function changeLessonPlanState(id) {
        $.ajax({
            url: "{% url 'api:inbuilt:change-is-plan' %}",
            method: "POST",
            data: {
                "csrfmiddlewaretoken": csrf,
                "lesson": Number(id)
            },
            success: function (data) {
                refresh()
                $("#plan-lesson").modal("hide")
            }
        })
    }

    function deleteLesson(id) {
        $.ajax({
            url: "/api/inbuilt/delete-lesson/" + id,
            method: "DELETE",
            headers: {
                "X-CSRFToken": csrf
            },
            data: {
                "lesson": Number(id)
            },
            success: function (data) {
                refresh()
                $("#delete-lesson").modal("hide")
            }
        })
    }

    function changePlanState(that) {
        planApp.id = $(that).parent().attr("id")
        console.log(planApp.id)
        $("#plan-lesson").modal("toggle")
    }
</script>
{% endblock %}