{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load templateLibs %}

{% block title %}
<title>Оценки</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/teacher.css' %}">
<link rel="stylesheet" href="{% static 'css/card_width.css' %}">

<style>
    .quater-mark{
        background-color: #e9ecef;
    }
    .year-mark{
        background-color: rgb(233,236,239);
    }
    .quater-mark-select{
        border: none;
        background-color: #e9ecef;
    }
    .year-mark-select{
        border: none;
        background-color: rgb(233,236,239);
    }
    .mark-plus-btn{
        border: none;
    }
    .important-mark {
        background-color: red;
    }
</style>

{% endblock %}

{% block content %}
<div class="container-fluid my-5">

    <!--Form for choosing subject, class and quarter. -->

    <div class="card card-50 my-5">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-6 col-sm-4">
                        <div class="form-group">
                            <label for="subject">Предмет</label>
                            <select name="subject" id="subject" class="form-control auto-save">
                                {% for subject in subjects %}
                                    <option>{{ subject }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4">
                        <div class="form-group">
                            <label for="grade">Класс</label>
                            <select name="grade" id="grade" class="form-control auto-save">
                                {% for grade in grades %}
                                    <option >{{ grade }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4">
                        <div class="form-group">
                            <label for="term">Четверть</label>
                            <select name="term" id="term" class="form-control auto-save">
                                <option value="1">I</option>
                                <option value="2">II</option>
                                <option value="3">III</option>
                                <option value="4">IV</option>
                            </select>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" name="getgrade">Найти</button>
            </form>
        </div>
    </div>
    
    <!--Big table form with choosing marks.-->

    {% csrf_token %}
    <div class="my-3">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#lessonmodal">
            <i class="fas fa-plus"></i> Добавить урок
        </button>
        <a href="{% url 'visible-students' %}" class="btn btn-outline-primary"><i class="fas fa-tasks"></i> Настроить</a>
        <!-- <a href="{% url 'lesson-editing' %}" class="btn btn-outline-primary"><i class="far fa-list-alt pr-2"></i>Уроки</a> -->
    </div>

    {% if lessons %}

    <div class="table-responsive">
        <table class="table table-bordered table-sm ">

            <thead class="thead-light">
                <tr>
                    <th scope="col">Ученики</th>
                    <th title="Среднее арифметическое" style="width:4%;">AVG</th>
                    <th title="Взвешенный средний балл" style="width:5%;">SM.AVG</th>
                    {% for k, lesson in lessons.items %}

                        <th scope="col" {% if lesson.control.weight == 100 %} style="background-color: rgb(204, 204, 204);" {% endif %}>
                        
                            <a href="{% url 'lesson-page' lesson.pk %}">
                                <p>{{ lesson.date|date:'d M' }}</p>
                                <p></p>{{ lesson.control }}
                            </a>
                        </th>
                    {% endfor %}
                </tr>
            </thead>


            <tbody>
            {% for student, small_scope in scope %}
                <tr>
                    <td scope="row" style="width: 20%;">{{ student.surname }} {{ student.first_name }}</td>
                    <td id="{{ student.pk }}">
                        {{ small_scope|lookup:"avg"|lookup:0 }}
                    </td>
                    <td id = "s_{{ student.pk }}">
                        {{ small_scope|lookup:"avg"|lookup:1 }}
                    </td>
                    {% for lk, lesson in lessons.items %}
                        {% with mark=small_scope|lookup:lesson %}

                            <td {% if lesson.control.name == 'Четвертная оценка' %} class="quater-mark" {% endif %} {% if lesson.control.name == 'Годовая оценка' %} class="year-mark" {% endif %}>
                                <select 
                                    name="{{ student.account_id }}|{{ lesson.id }}|{{ mark.pk }}"
                                    class="inp_table select"
                                    onchange="myfunction(this)"
                                    oncontextmenu="commentDialog(this); return false;">
                                    <option value="0" {% if not mark %}selected{%endif%}></option>
                                    <option value="5" {% if mark and mark.amount == 5 %}selected{% endif %}>5</option>
                                    <option value="4" {% if mark and mark.amount == 4 %}selected{% endif %}>4</option>
                                    <option value="3" {% if mark and mark.amount == 3 %}selected{% endif %}>3</option>
                                    <option value="2" {% if mark and mark.amount == 2 %}selected{% endif %}>2</option>
                                    <option value="-1" {% if mark and mark.amount == -1 %}selected{% endif %}>Н</option>
                                </select>
                            </td>
                        {% endwith %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
            </table>
    </div>
    <p><small class="text-muted">
        Выставленные оценки сохраняются автоматически.
        <br>
        Нажмите на любой из уроков, чтобы редактировать его.
    </small></p>
    {% else %}
    <div class="alert alert-info mt-5">
        Уроки еще не были добавлены.
    </div>
    {% endif %}


    {% include 'teacher_page/create_lesson.html' %}

    {% include 'teacher_page/comment_modal.html' %}
</div>
<script>
    function renderAvg(s) {
        if (s != "-")
            return s.toPrecision(2).replace(".", ",")
        return s;
    }

    function myfunction(that){
        that.style.backgroundColor = "#d6d6d6"
        that.parentNode.style.backgroundColor = "#d6d6d6"
        // save mark
        let csrf = $("input[name='csrfmiddlewaretoken']").val();
        let id = "button[name='"+ that.name.toString()+"']";
        let comment_btn = $(id);
        if (that.value){
            comment_btn.css("display", "inline");
        }else{
            comment_btn.css("display", "none");
        }
        value = Number(that.value);  // Value of mark
        let mark_data = that.name.split("|").map(x => Number(x))
        $.ajax({
            url:"{% url 'api:inbuilt:save-mark' %}",
            method: 'POST',
            data:{
                "csrfmiddlewaretoken": csrf,
                "student": mark_data[0],
                "lesson": mark_data[1],
                "value": value,
            },
            success: function (data){
                let sm_avg = $("#s_"+mark_data[0]);
                let avg = $("#"+mark_data[0]);
                sm_avg.html(renderAvg(data.sm_avg));
                avg.html(renderAvg(data.avg));
            }
        })
    };

    function commentDialog(that) {
        let mark_id = that.name.split("|").map(x => Number(x))[2]
        let csrf = $("input[name='csrfmiddlewaretoken']").val()
        if (!mark_id) return false 
        $.ajax({
            url: "{% url 'api:inbuilt:get-comment' %}",
            method: "POST",
            data: {
                "csrfmiddlewaretoken": csrf,
                "mark": mark_id,
            },
            success: function (data) {
                $("#comment-text").val(data.comment)
            },
        })
        $("#comment-hidden").val(mark_id)
        $("#comment-modal").modal('show')
    };

    function addComment() {
        let commentText = $("#comment-text").val()
        let mark_id = $("#comment-hidden").val()
        let csrf = $("input[name='csrfmiddlewaretoken']").val()
        $.ajax({
            url: "{% url 'api:inbuilt:add-comment' %}",
            method: "POST",
            data: {
                "csrfmiddlewaretoken": csrf,
                "comment": commentText,
                "mark": mark_id,
            },
        })
        $("#comment-text").val("")
        $("#comment-modal").modal('hide')
    }

    function showdeletebutton(){
        $('#homeworkfiledeletebutton').css('display', 'block');
    };

    function deleteinputvalue(){
        $('#homeworkfiledeletebutton').css('display', 'none');
        $('#homeworkfileinput').val('');
    };
</script>
{% endblock %}
