{% extends 'base/base.html' %}
{% load static %}

{% block title %}
<title>Пароль обновлен</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/card_align.css' %}">
<link rel="stylesheet" href="{% static 'css/card_width.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="card my-5 card-50">
        <div class="card-body">
            <h3 class="card-title">Пароль был обновлен.</h3>
            <p>Вы успешно обновили пароль для своего аккаунта. Теперь Вы можете перйти на страницу входа.</p>
            <a href="{% url 'login' %}" class="btn btn-primary">Страница входа</a>
        </div>
    </div>
</div>
{% endblock %}
