{% extends 'base/base.html' %}
{% load static %}


{% block content %}
    <div class="container my-5">
        <h1 class="text-center">{{ klass }}</h1>

        <div class="my-4 alert alert-warning">
            Просмотр оценок учеников временно недоступен
        </div>

        <div class="my-4">
            {% if students %}
                <div class="table-responsive">
                    <table class="table my-3 text-center table-sm">
                        <thead class="table-dark">
                        <tr>
                            <th>Имя</th>
                            <th>Фамилия</th>
                            <th>Оценки</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for s in students %}
                            <tr>
                                <td>{{ s.account.first_name }}</td>
                                <td>{{ s.account.surname }}</td>
                                <td><a href="#" class="text-primary"><i class="fas fa-eye"></i></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="my-4 text-center">
                    <img src="{% static 'icons/detective.svg' %}" alt="" height="70">
                    <div class="mt-3">Мы не можем найти ни одного ученика в вашем классе.<br>Попросите администратора их добавить.</div>
                </div>
            {% endif %}
        </div>

    </div>
{% endblock %}
