<div class="card card-75 my-4">
    <div class="card-body">
        <h2 class="card-title text-center">Добавление ученика</h2>
        <form method="GET" autocomplete="off">
            <div class="mb-3">
                {% with field=form.email %}
                    {% include "field.html" %}
                {% endwith %}
            </div>
            <div class="mb-3">
                {% with field=form.first_name %}
                    {% include "field.html" %}
                {% endwith %}
            </div>
            <div class="mb-3">
                {% with field=form.surname %}
                    {% include "field.html" %}
                {% endwith %}
            </div>
            <button class="btn btn-outline-primary" type="submit" name="search">Найти</button>
            <a href="{% url 'my_klass:my-klass' %}" class="btn btn-outline-secondary">Отмена</a>
        </form>
        {% if 'search' in request.GET %}
            {% if search %}
                <div class="table-responsive">
                    <table class="table my-5 text-center">
                        <thead class="table-dark">
                        <th>Почта</th>
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>Класс</th>
                        <th>Добавить</th>
                        </thead>
                        <tbody>
                        {% for s in search %}
                            <tr>
                                <td>{{ s.account.email }}</td>
                                <td>{{ s.account.first_name }}</td>
                                <td>{{ s.account.surname }}</td>
                                {% if s.grade is not None %}
                                    <td>{{ s.grade }}</td>
                                    <td>-</td>
                                {% else %}
                                    <td>Не состоит</td>
                                    <td><a href="{% url 'my_klass:add-student' s.pk %}" class="text-primary"><i
                                            class="fas fa-plus"></i></a></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="alert alert-info mt-3">
                    Ученики по запросу не найдены.
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>
