{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
<title>Домашнее задание</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/card_width.css' %}">
<link rel="stylesheet" href="{% static 'css/card_align.css' %}">
{% endblock %}


{% block content %}
<div class="container my-5">

    <form method="GET">
    <div class="row" id="search-wrapper">

        <div class="col-12 col-md-6">
            <div class="input-group mb-3">
                {{ form.date }}
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-primary">Найти</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-auto">
            <a href="{% url 'homework' %}" class="btn btn-outline-primary">Д/з на неделю</a>
        </div>
    </div>
    </form>

    <div class="card card-body my-4">
        <div id="homework-wrapper">
            {% if "date" in request.GET %}
                <h2 class="card-title">Домашнее задание на {{ date|date:"d.m, D" }}</h2>
                <hr>
                {% if lessons %}
                    {% for lesson in lessons %}
                        <h5>{{ lesson.subject }}</h5>
                        <p>{{ lesson.text|linebreaks }}</p>
                        {% if lesson.file_exists %}
                            <p class="text-muted" style="margin-top: -10px;">
                                Ваш учитель приложил файл к домашнему заданию. <a href="{{ lesson.file.url }}" download>
                                Скачать</a>
                            </p>
                        {% endif %}
                        {% ifnotequal forloop.counter lessons|length %}
                            <hr>
                        {% endifnotequal %}
                    {% endfor %}
                {% else %}
                    <div class="text-center my-3">
                        <img src="{% static 'book.svg' %}" alt="" width="100">
                        <p>Домашнее задание не задано.</p>
                    </div>
                {% endif %}
            {% else %}
                <h2 class="card-title">Домашнее задание на неделю:</h2>
                <hr>
                {% if lessons %}
                    {% for lesson in lessons %}
                        <h5><span class="badge badge-secondary" style="display: inline;">{{ lesson.date|date:"d.m, D" }}</span> {{ lesson.subject }}</h5>
                        <p>{{ lesson.text|linebreaks }}</p>
                        {% if lesson.file_exists %}
                            <p class="text-muted" style="margin-top: -10px;">Ваш учитель приложил файл к домашнему заданию. <a href="{{ lesson.file.url }}">Скачать</a></p>
                        {% endif %}
                        {% ifnotequal forloop.counter lessons|length %}
                            <hr>
                        {% endifnotequal %}
                    {% endfor %}
                {% else %}
                    <div class="text-center my-3">
                        <img src="{% static 'book.svg' %}" alt="" width="100">
                        <p>Домашнее задание не задано.</p>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
