.card > a {
    text-decoration: none;
    color: inherit;
}

.card {
    transition-property: box-shadow;
    transition-duration: 0.5s;
}

.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.295);
}

.card img {
    display: block;
    /* position: relative; */
    width: 40%;
    margin: 20% auto;
}

#update-info > .card {
    background: #282a36;
}
