{% extends 'base/base.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/homework.css' %}">
    <link rel="stylesheet" href="{% static 'js/viewerjs/viewer.min.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'js/viewerjs/viewer.min.js' %}"></script>
    <script src="{% static 'js/marked.min.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/styles/atom-one-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/highlight.min.js"></script>
    <script src="{% static 'js/marked_setup.js' %}"></script>
    <script src="{% static 'js/clipboard.min.js' %}"></script>
{% endblock %}


{% block content %}
    <script src="{% static 'js/homework.js' %}" type="module"></script>

    <div class="container my-5">
        <form>
            <div class="row" id="search-wrapper">
                <div class="col-12 col-md-6">
                    <div class="input-group mb-4">
                        <input type="date" name="date" class="form-control" required id="id_date">
                        <button type="button" id="dateSelectBtn" class="btn btn-outline-primary">Найти</button>
                    </div>
                </div>
                <div class="col-12 col-sm-auto mb-4">
                    <button role="button" id="weekHwBtn" class="btn btn-outline-primary">Д/з на неделю</button>
                </div>
                <div class="col-auto mb-4">
                    <a href="{% url 'homework-stats' %}" class="btn btn-outline-primary"><i
                            class="fas fa-chart-pie"></i></a>
                </div>
            </div>
        </form>
        <div class="row">
            {% if request.user.student.president %}
                <div class="col-auto">
                    <a href="{% url 'homework-list' %}" class="btn btn-outline-danger"><i class="fas fa-list me-2"></i>Список
                        д/з</a>
                </div>
            {% endif %}
        </div>
        <div id="homework-app" class="my-4">
            <div v-if="homework === undefined" class="text-center py-4">
                <div class="spinner-border" role="status"></div>
            </div>
            <div v-else-if="homework.length > 0" class="card card-body">
                <h2 class="card-title text-center mb-4">[[ getDate(date) ]]</h2>
                <div v-for="(task, index) in homework">

                    <div class="row h-100">
                        <div class="col-2 col-lg-1 col-md-2 col-sm-2 subject-icon-parent h-100">
                            <div v-if="task.subject.icon">
                                <img :src="task.subject.icon" class="subject-icon" alt="">
                            </div>
                        </div>
                        <div class="col-10 col-lg-10 col-md-8 col-sm-8">
                            <h5><span v-if="date[0] === 'week'" class="badge bg-primary me-2">[[ getDateBadge(task.lesson.date) ]]</span>[[
                                task.subject.name ]]</h5>
                            <div v-if="task.content" v-html="marked(task.content)">

                            </div>
                            <div v-if="task.h_file" class="mt-2">
                                <a :href="task.h_file" @click="showOrDownload" download><i class="fas fa-file me-2"></i>Скачать
                                    приложенный файл</a>
                            </div>

                        </div>
                    </div>

                    <div v-if="(index + 1) !== homework.length">
                        <hr>
                    </div>
                </div>
            </div>
            <div v-else>
                <div class="text-center my-3">
                    <img src="{% static 'icons/relaxing.png' %}" alt="" width="100">
                    <p>Домашнее задание не задано.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="code-snippet-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" id="code-snippet-modal-body">
                    <pre class="px-3 py-4 code-snippet" id="code-snippet-modal-code" data-clipboard-target="#code-snippet-modal-code"></pre>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
