{% extends 'base/base.html' %}
{% load static %}

{% block title %}
<title>Добавить урок</title>
<style>
	.card {
	margin: 0 auto; /* Added */
	float: none; /* Added */
	margin-bottom: 10px; /* Added */
	}
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="card my-5 w-75">
        <div class="card-body">
            <h3 class="card-title">Добавить урок</h3>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {% with field=form.connection %}
                        {% include 'field_template.html' %}
                    {% endwith %}
                </div>
                <div class="form-group">
                    {% with field=form.day %}
                        {% include 'field_template.html' %}
                    {% endwith %}
                </div>
                <div class="form-group">
                    {% with field=form.number %}
                        {% include 'field_template.html' %}
                    {% endwith %}
                </div>
                <div class="form-group">
                    {% with field=form.subject %}
                        {% include 'field_template.html' %}
                    {% endwith %}
                </div>
                <div class="form-group">
                    {% with field=form.classroom %}
                        {% include 'field_template.html' %}
                    {% endwith %}
                </div>
                <button class="btn btn-secondary text-white" type="submit" name="editmore">Добавить еще один урок</button>
                <button type="submit" class="btn btn-primary">Добавить</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
