{% extends 'base.html' %}
{% load static %}
{% load templateLibs %}
{% load crispy_forms_tags %}

{% block title %}
<title>Расписание</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-auto my-5">
            <section class="sticky-top">
                <div class="form-group">
                    {{ form|crispy }}
                    <button class="btn btn-primary" OnClick="GetGradeEtLitera();">Выбрать класс</button>
                </div>
            </section>
        </div>
        <div class="col" id="weekdays">
            
        </div>
    </div>
    <div class="alert alert-info">
        Если расписание для Вашего класса неполное, попросите администратора дозаполнить его.
        <p>Вы можете скачать расписание в формате PDF или просмотреть его онлайн, выбрав свой класс.</p>
        <a class="btn btn-primary text-decoration-none" href="{% url 'timetable_download' %}">Скачать в формате PDF</a>
    </div>
    <h1 id="mda"></h1>
    
</div>
<script>
    
    
    function sendreq(grade,litera) {
        $.get( "http://127.0.0.1:8000/timetable/ajax",
            {g:grade,l:litera},
            function( data ) {
            //alert( "Load was performed." );
            dec = JSON.parse(data);
            //alert(dec);
            document.getElementById('weekdays').innerHTML = '';
            for (var day in dec) {
                if (dec[day].length > 0) {
                lsntb = `
                <div class="card my-5">
                    <div class="card-body">
                        <div class="card-title text-center">
                            <h4>${day}</h4>
                        </div>
                        <div class="table-responsive-md">
                            <table class="table-sm table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Номер</th>
                                        <th>Предмет</th>
                                        <th>Кабинет</th>
                                        <th>Начало</th>
                                        <th>Конец</th>
                                    </tr>
                                </thead>`;

                tod = dec[day];
                for (var i=0;i<tod.length; i++) {
                    lsninfo = `
                    <tr>
                        <td> ${tod[i]['num']} </td>
                        <td> ${tod[i]['sub']} </td>
                        <td> ${tod[i]['cls']} </td>
                        <td> ${tod[i]['strt']} </td>
                        <td> ${tod[i]['end']} </td>
                    </tr>
                    `;
                    //console.log(dec[i])
                    //console.log(dec[0])
                    lsntb = lsntb + lsninfo;
                }
                lsntb = lsntb + `
                            </table>
                        </div>
                    </div>
                </div>
                `;
                document.getElementById('weekdays').innerHTML += lsntb;
            }
            }
        });
    }
    function GetGradeEtLitera() {
        var id_grade = document.getElementById("id_grade").options.selectedIndex;
        var id_litera = document.getElementById("id_litera").options.selectedIndex;
        var grade = document.getElementById("id_grade").options[id_grade].text;
        var litera = document.getElementById("id_litera").options[id_litera].text;
        sendreq(grade,litera);
    }
    $(document).ready ( 
        function() {
            var strGET = window.location.search.replace( '?', '');
            if (strGET != "") { 
            var g = parseInt(strGET.split("&")[0].split("=")[1]);
            var l = strGET.split("&")[1].split("=")[1];
            console.log(l);
            sendreq(g,l); 
            }
        });
</script>
{% endblock %}