{% extends 'base/base.html' %}
{% load static %}
{% load templateLibs %}

{% block title %}
<title>Расписание</title>
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="alert alert-info" role="alert">
        Показано расписание для класса: {{ my_grade }}
    </div>

    {% for weekday in data %}

    {% if data|lookup:weekday %}
    <div class="card my-5">
        <div class="card-body">
            <div class="card-title text-center">
                {% if weekday == "today" %}
                <h4>Расписание на сегодня</h4>
                {% elif weekday == "tomorrow" %}
                <h4>Расписание на завтра</h4>
                {% else %}
                <h4>{{ weekday }}</h4>
                {% endif %}
            </div>
            <div class="table-responsive-md">
                <table class="table-sm table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Номер</th>
                            <th>Предмет</th>
                            <th>Кабинет</th>
                            <th>Начало</th>
                            <th>Конец</th>
                        </tr>
                    </thead>
                    {% for lesson in data|lookup:weekday %}
                    <tr>
                        <td>{{ lesson.number.n }}</td>
                        <td>{{ lesson.subject }}</td>
                        <td>{{ lesson.classroom }}</td>
                        <td>{{ lesson.number.start }}</td>
                        <td>{{ lesson.number.end }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}

    <div class="alert alert-info">
        Если расписание для Вашего класса неполное, попросите администратора дозаполнить его.
    </div>
    

</div>
{% endblock %}