{% extends 'base/base.html' %}
{% load static %}

{% block title %}
<title>Домашнее задание</title>
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="card card-body">
        <h2 class="card-title text-center">Редактирование домашнего задания</h2>
        <form method="POST" enctype="multipart/form-data">
            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
            {% csrf_token %}
            <div class="mb-3">
                {% with field=form.subject %}
                    {% include 'field.html' %}
                {% endwith %}
            </div>
            
            <div class="mb-3">
                <label for="id_date" class="form-label">Дата, на которую вы задаете д/з</label>
                {% with field=form.date hide_label=True %}
                    {% include 'field.html' %}
                {% endwith %}
            </div>
    
            <div class="mb-3">
                <label class="form-label" for="id_homework">Домашнее задание</label>
                {% with field=form.homework hide_label=True %}
                    {% include 'field.html' %}
                {% endwith %}
            </div>
    
            <div class="mb-3">
                    {% with field=form.h_file %}
                        {% include 'field.html' %}
                    {% endwith %}
                {% if form.instance.h_file %}
                <div class="mt-3">
                    К заданию был приложен файл. <a href="{{ form.instance.h_file.url }}">Просмотреть</a>
                </div>
                <div class="mt-2">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="customSwitch1" name="deleteFile">
                        <label class="form-check-label" for="customSwitch1">Удалить файл</label>
                    </div>
                </div>
                {% endif %}
            </div>
    
            <a href="{% url 'homework-list' %}" data-dismiss="modal" class="btn btn-outline-secondary">Отменить</a>
            <button type="submit" class="btn btn-outline-primary" name="addhomework">Изменить</button>
        </form>
    </div>
</div>
{% endblock %}
