{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    <title>Домашнее задание</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/homework.css' %}">
{% endblock %}


{% block content %}
    <div class="container my-5">

        <form method="GET">
            <div class="row" id="search-wrapper">
                <div class="col-12 col-md-6">
                    <div class="input-group mb-4">
                        {% with field=form.date hide_label=True hide_errors=True %}
                            {% include "field.html" %}
                        {% endwith %}
                        <button type="submit" class="btn btn-outline-primary">Найти</button>
                    </div>
                </div>
                <div class="col-12 col-sm-auto mb-4">
                    <a href="{% url 'homework' %}" class="btn btn-outline-primary">Д/з на неделю</a>
                </div>
                <div class="col-auto mb-4">
                    <a href="{% url 'homework-stats' %}" class="btn btn-outline-primary"><i
                            class="fas fa-chart-pie"></i></a>
                </div>
            </div>
        </form>

        <div class="row">
            {% if request.user.student.president %}
                <div class="col-auto">
                    <a href="{% url 'homework-list' %}" class="btn btn-outline-danger"><i class="fas fa-list me-2"></i>Список
                        д/з</a>
                </div>
            {% endif %}
        </div>

        <div class="card card-body my-4">
            {% if "date" in request.GET %}
                <h2 class="card-title text-center">Домашнее задание на {{ date|date:"d.m, D" }}</h2>
                {% if homework %}
                    {% for task in homework %}

                        <div class="row h-100">
                            <div class="col-2 col-lg-1 col-md-2 col-sm-2 subject-icon-parent h-100">
                                {% if task.subject.icon  %}
                                    <img src="{{ task.subject.icon.url }}" class="subject-icon" alt="">
                                {% endif %}
                            </div>
                            <div class="col-10 col-lg-10 col-md-8 col-sm-8">
                                <h5>{{ task.subject }}</h5>
                                {% if task.content %}
                                    <div>{{ task.content|linebreaks }}</div>
                                {% endif %}
                                {% if task.file_attached %}
                                    <a href="{{ task.file.url }}" download><i class="fas fa-file me-2"></i>Скачать приложенный файл</a>
                                {% endif %}
                            </div>
                        </div>

                        {% ifnotequal forloop.counter homework|length %}
                            <hr>
                        {% endifnotequal %}
                    {% endfor %}
                {% else %}
                    <div class="text-center my-3">
                        <img src="{% static 'book.svg' %}" alt="" width="100">
                        <p>Домашнее задание не задано.</p>
                    </div>
                {% endif %}
            {% else %}
                <h2 class="card-title text-center">Домашнее задание на неделю:</h2>
                {% if homework %}
                    {% for task in homework %}
                        <div class="row h-100">
                            <div class="col-2 col-lg-1 col-md-2 col-sm-2 subject-icon-parent h-100">
                                {% if task.subject.icon  %}
                                    <img src="{{ task.subject.icon.url }}" class="subject-icon" alt="">
                                {% endif %}
                            </div>
                            <div class="col-10 col-lg-10 col-md-8 col-sm-8">
                                <h5><span
                                    class="badge bg-primary me-2">{{ task.lesson.date|date:"d.m, D" }}</span>{{ task.subject }}
                                </h5>
                                {% if task.content %}
                                    <div>{{ task.content|linebreaks }}</div>
                                {% endif %}
                                {% if task.file_attached %}
                                    <a href="{{ task.file.url }}" download><i class="fas fa-file me-2"></i>Скачать приложенный файл</a>
                                {% endif %}
                            </div>
                        </div>

                        {% ifnotequal forloop.counter homework|length %}
                            <hr>
                        {% endifnotequal %}
                    {% endfor %}
                {% else %}
                    <div class="text-center my-3">
                        <img src="{% static 'icons/relaxing.png' %}" alt="" width="100">
                        <p>Домашнее задание не задано.</p>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
