{% extends 'base/base.html' %}
{% load static %}

{% block title %}
<title>Домашнее задание</title>
{% endblock %}


{% block content %}
<div class="container my-5">

  <form method="GET">
  <div class="row my-3" id="search-wrapper">
    <div class="col-12 col-md-6">
      <div class="input-group mb-1">
        {% with field=form.date hide_label=True hide_errors=True %}
          {% include "field_template.html" %}
        {% endwith %}
        <button type="submit" class="btn btn-outline-primary">Найти</button>
      </div>
    </div>
    <div class="col-12 col-sm-auto mb-1">
      <a href="{% url 'homework' %}" class="btn btn-outline-primary">Д/з на неделю</a>
    </div>
    <div class="col-auto mb-1">
      <a href="{% url 'homework-stats' %}" class="btn btn-outline-primary"><i class="fas fa-chart-pie"></i></a>
    </div>
  </div>
  </form>

  <div class="row my-2">
    {% if request.user.student.president %}
    <div class="col-auto my-1">
      <a href="{% url 'homework-list' %}" class="btn btn-outline-danger"><i class="fas fa-list me-2"></i>Список д/з</a>
    </div>
    {% endif %}
  </div>

  <div class="card card-body my-4">
      {% if "date" in request.GET %}
        <h2 class="card-title text-center">Домашнее задание на {{ date|date:"d.m, D" }}</h2>
        {% if lessons %}
          {% for lesson in lessons %}
            <h5>{{ lesson.subject }}</h5>
            {% if lesson.text %}
            <div>{{ lesson.text|linebreaks }}</div>
            {% endif %}
            {% if lesson.file_exists %}
              <div class="text-muted">
                Ваш учитель приложил файл к домашнему заданию. <a href="{{ lesson.file.url }}" download>
                Скачать</a>
              </div>
            {% endif %}
            {% ifnotequal forloop.counter lessons|length %}
              <hr>
            {% endifnotequal %}
          {% endfor %}
        {% else %}
          <div class="text-center my-3">
            <img src="{% static 'book.svg' %}" alt="" width="100">
            <p>Домашнее задание не задано.</p>
          </div>
        {% endif %}
      {% else %}
        <h2 class="card-title text-center">Домашнее задание на неделю:</h2>
        {% if lessons %}
          {% for lesson in lessons %}
            <h5><span class="badge bg-secondary">{{ lesson.date|date:"d.m, D" }}</span> {{ lesson.subject }}</h5>
            {% if lesson.text %}
              <div>{{ lesson.text|linebreaks }}</div>
            {% endif %}
            {% if lesson.file_exists %}
              <div class="text-muted">Ваш учитель приложил файл к домашнему заданию. <a href="{{ lesson.file.url }}">Скачать</a></div>
            {% endif %}
            {% ifnotequal forloop.counter lessons|length %}
              <hr>
            {% endifnotequal %}
          {% endfor %}
        {% else %}
          <div class="text-center my-3">
            <img src="{% static 'icons/relaxing.png' %}" alt="" width="100">
            <p>Домашнее задание не задано.</p>
          </div>
        {% endif %}
      {% endif %}
  </div>
</div>
{% endblock %}
