{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
<title>Создать новость</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card card-body my-5">
                <h2 class="card-title text-center">Редактор</h2>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        {% with field=form.title %}
                            {% include "field.html" %}
                        {% endwith %}
                    </div>
                    <div class="mb-3">
                        {% with field=form.author %}
                            {% include "field.html" %}
                        {% endwith %}
                    </div>
                    <div class="mb-3">
                        {% with field=form.content %}
                            {% include "field.html" %}
                        {% endwith %}
                    </div>
                    <div class="mb-3">
                        {% with field=form.image %}
                            {% include "field.html" %}
                        {% endwith %}
                    </div>
                    <button class="btn btn-danger btn-sm mb-4" id="imagedeletebutton" onclick="delete_image()" style="display: none;" type="button">Очистить это поле</button>
                    {% if data.image %}
                        <p><a href="{{ data.image.url }}">Выбранное изображение</a></p>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="deleteimage" name="deleteimage" value="1">
                            <label class="form-check-label" for="deleteimage">Удалить изображение</label>
                        </div>
                    {% endif %}
                    <div class="mb-3">
                        {% with field=form.slug %}
                            {% include "field.html" %}
                        {% endwith %}
                    </div>
                    <button type="submit" class="btn btn-outline-primary">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    let isMobile = window.matchMedia("only screen and (max-width: 760px)").matches;
    if (!isMobile) {
    var simplemde = new SimpleMDE({ element: $("#content")[0], spellChecker:false });
    };
    function show_delete_button() {
        var x = document.getElementById("imagedeletebutton");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    };
    function delete_image() {
        console.log('OK');
        $('#image').val('');
        $('#imagedeletebutton').css('display', 'none');
    };
</script>
{% endblock %}
