{% extends 'base/base.html' %}
{% load static %}

{% block title %}
<title>Новости</title>
<style>
    .post-image{
        object-fit: cover;
    }
</style>
{% endblock %}

{% block content %}
<div class="container my-5">

    <form method="GET" id="searchForm">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="search" value="{{ search_text }}">
            <button class="btn btn-outline-primary" type="submit">Поиск</button>
          </div>
    </form>

    {% if search %}
    <div class="mb-3">
        <a href="{% url 'news' page=1 %}">Отменить поиск</a>
    </div>
    {% endif %}

    {% if request.user.account_type == 0 or request.user.account_type == 1 %}
    <div class="mb-3">
        <a href="{% url 'news_create' %}" class="btn btn-outline-primary"><i class="fas fa-edit me-2"></i>Новая статья</a>
    </div>
    {% endif %}
    
    {% if news %}
    <!--News list-->
    <div class="card my-3">
        <div class="card-body">
            <ul class="list-unstyled">
                {% for post in news %}
                <li class="row mt-2">
                    <div class="col">
                    <a href="{% url 'news_post_details' post.slug %}"><h5 class="mt-0">{{ post.title }}</h5></a>
                    <p class="my-0">От {{ post.author }}</p>
                    <p class="text-muted my-0">{{ post.date }}</p>
                    </div>

                    {% if post.image %}
                    <div class="col-auto">
                        <img src="{{ post.image.url }}" class="align-self-center mr-3 post-image" alt="" height="70" width="70">
                    </div>
                    {% endif %}
                </li>
                {% ifnotequal forloop.counter news|length %}
                <hr>
                {% endifnotequal %}
                {% endfor %}
            </ul>
        </div>
    </div>
    
    {% else %}
        {% if not search %}
        <div class="text-center my-5">
            <img src="{% static 'icons/cactus.svg' %}" alt="" height="60">
            <p class="my-2">Кажется, тут нет новостей.</p>
        </div>
        {% else %}
        <p class="text-muted text-justify-center">По вашему запросу не найдено ни одной новости.</p>
        {% endif %}
    {% endif %}

    <!--Paginator-->
    {% if news and not search %}
    <nav>
        <ul class="pagination justify-content-center">
            {% if news.has_previous %}
                <li class="page-item"><a href="{% url 'news' 1 %}" class="page-link">&lt;&lt;</a></li>
                <li class="page-item"></li><a href="{% url 'news' news.previous_page_number %}" class="page-link">&lt;</a>
            {% endif %}

            {% if news %}
                <li class="page-item active"><a href="#" class="page-link">{{ news.number }}</a></li>
            {% endif %}

            {% if news.has_next %}
                <li class="page-item"><a href="{% url 'news' news.next_page_number %}" class="page-link">&gt;</a></li>
                <li class="page-item"><a href="{% url 'news' news.paginator.num_pages %}" class="page-link">&gt;&gt;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
<script>
    "use strict"
    $('.expand-search-btn').click(function(){
        var $this = $(this);
        $this.toggleClass('expand-search-btn');
        if($this.hasClass('expand-search-btn')){
            $this.text('Показать поиск');         
        } else {
            $this.text('Скрыть поиск');
        }
    });
</script>
{% endblock %}