{% extends 'base/base.html' %}
{% load static %}

{% block title %}
<title>Подтвердить</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="card my-5">
        <div class="card-body">
            <p>Вы уверены, что хотите удалить минимум "{{ m }}"?</p>
            <form action="{% url 'minimum_delete' m.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Подтвердить</button>
                <a href="{% url 'minimum_dashboard' %}" class="btn btn-success">Отмена</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
