{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
<title>Минимумы</title>
<link rel="stylesheet" href="{% static 'css/card_width.css' %}">
<link rel="stylesheet" href="{% static 'css/card_align.css' %}">
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="my-4">
        <a class="btn btn-primary" data-toggle="collapse" href="#search" role="button" aria-expanded="false" aria-controls="search">
            Поиск
        </a>
        <a href="{% url 'students_dashboard' %}" class="btn btn-secondary">Все ученики</a>
        <div class="collapse" id="search">
            <div class="card-body card card-50 my-3">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="first_name">Имя</label>
                        <input type="text" name="first_name" id="first_name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="surname">Фамилия</label>
                        <input type="text" name="surname" id="surname" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="email">Почта</label>
                        <input type="text" name="email" id="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="class">Класс</label>
                        <select class="form-control" name="class" id="class">
                            <option value="-2">Любой</option>
                            <option value="-1">Еще не в классе</option>
                            {% for class in classes %}
                            <option value="{{ class.id }}">{{ class }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button class="btn btn-primary" type="submit" name="search">Найти</button>
                </form>
            </div>
        </div>
    </div>

    {% if students %}
    <div class="table-responsive">
        <table class="table text-center">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Почта</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Отчество</th>
                    <th scope="col">Класс</th>
                    <th scope="col">Изменить</th>
                    <th scope="col">Удалить</th>
                </tr>
            </thead>
            <tbody>
                {% for s in students %}
                    <tr>
                        <td>{{ s.account.email }}</td>
                        <td>{{ s.first_name }}</td>
                        <td>{{ s.surname }}</td>
                        <td>{{ s.second_name }}</td>
                        {% if s.grade is not None %}
                        <td>{{ s.grade }}</td>
                        {% else %}
                        <td>-</td>
                        {% endif %}
                        <td><a class="btn btn-sm btn-primary text-" href="{% url 'students_update' s.account %}"><i class="fas fa-edit"></i></a></td>
                        <td><a class="btn btn-sm btn-danger" href="{% url 'students_delete' s.account %}"><i class="fas fa-trash-alt"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
    {% else %}
    <div class="alert alert-info">
        <p>Ученики еще не были добавлены.</p>
    </div>
    {% endif %}
    <nav class="mt-5">
        <ul class="pagination justify-content-center">
            {% if students.has_previous %}
                <li class="page-item"><a href="/students/dashboard/1" class="page-link">&laquo;</a></li>
                <li class="page-item"></li><a href="/students/dashboard/{{ students.previous_page_number }}" class="page-link">&lt;</a>
            {% endif %}

            <span class="current">
                <li class="page-item active"><a href="#" class="page-link">{{ students.number }}</a></li>
            </span>

            {% if students.has_next %}
                <li class="page-item"><a href="/students/dashboard/{{ students.next_page_number }}" class="page-link">&gt;</a></li>
                <li class="page-item"><a href="/students/dashboard/{{ students.paginator.num_pages }}" class="page-link">&raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
