{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
<title>Изменить</title>
<link rel="stylesheet" href="{% static 'css/card_width.css' %}">
<link rel="stylesheet" href="{% static 'css/card_align.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="card my-5 card-body card-50">
        <h2 class="card-title">Изменить аккаунт ученика</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="">Имя</label>
                {{ form.first_name }}
            </div>
            <div class="form-group">
                <label for="">Фамилия</label>
                {{ form.surname }}
            </div>
            <div class="form-group">
                <label for="">Отчество</label>
                {{ form.second_name }}
            </div>
            <div class="form-group">
                <label for="">Класс</label>
                {{ form.grade }}
            </div>
            <button type="submit" class="btn btn-primary">Изменить</button>
        </form>
    </div>
</div>
{% endblock %}
