{% extends 'base/base.html' %}
{% load static %}

{% block title %}
<title>Справка</title>
<style>
    nav {
        line-height: 20px;
    }
    :target {
        animation: highlight 8s ease-out forwards;
    }
    @keyframes highlight {
        0%{
            background-color: white;
        }
        10% {
            background-color: yellow;
        }
        100% {
            background-color: white;
        }
    }

    #contents > ul, #contents > ul > ul {
        list-style-type: disc;   
    }

</style>
{% endblock %}

{% block content %}
<div class="container my-5">
    <h1>Электронный дневник</h1>
    <p class="lead">Справочное руководство</p>
    <hr class="my-4">
    <a href="#collapse-area" class="btn btn-primary" role="button"  data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapse-area">Оглавление</a>
    
    <div class="collapse" id="collapse-area">
        <ul id="contents" class="my-4">
            <li><a href="#students">Ученики</a></li>
            <ul class="list">
                <li><a href="#0001">Начало работы</a></li>
                <ul>
                    <li><a href="#0002">Регистрация</a></li>
                    <li><a href="#0003">Присоединение к классу</a></li>
                </ul>
    
                <li><a href="#0004">Оценки</a></li>
                <li><a href="#0005">Домашнее задание</a></li>
                <li><a href="#0006">Минимумы</a></li>
                <li><a href="#0007">Расписание</a></li>
                <li><a href="#0008">Родители</a></li>
                <li><a href="#0009">Связь с администратором</a></li>
            </ul>
    
            <li><a href="#teachers">Учителя</a></li>
            <ul>
                <li><a href="#0010">Начало работы</a></li>
                <ul>
                    <li><a href="#0011">Регистрация</a></li>
                    <li><a href="">Доступ к ученикам</a></li>
                </ul>
    
                <li><a href="">Классы</a></li>
                <ul>
                    <li><a href="#0012">Создание класса</a></li>
                    <li><a href="#0013">Настройки класса</a></li>
                    <li><a href="#0014">Просмотр оценок учеников</a></li>
                </ul>
    
                <li><a href="#0015">Ученики</a></li>
                <ul>
                    <li><a href="#0016">Выставление оценок</a></li>
                    <li><a href="#0017">Комментарии к оценкам</a></li>
                    <li><a href="#0018">Домашнее задание</a></li>
                    <li><a href="#0019">Уроки</a></li>
                </ul>
    
                <li><a href="#0020">Связь с администратором</a></li>
                <li><a href="#0021">Дополнительно</a></li>
            </ul>
            
            <li><a href="#admins">Администраторы</a></li>
            <ul>
                <li><a href="#0022">Регистрация</a></li>
                <li><a href="#0023">Панель администратора</a></li>
    
                <li><a href="#0024">Работа с пользователями</a></li>
                <ul>
                    <li><a href="#0025">Администраторы</a></li>
                    <li><a href="#0026">Ученики</a></li>
                    <li><a href="#0027">Учителя</a></li>
                    <li><a href="#0028">Сообщения от пользователей</a></li>
                </ul>
    
                <li><a href="#0029">Новостной блок</a></li>
                <ul>
                    <li><a href="#0030">Применение</a></li>
                    <li><a href="#0031">Сообщения</a></li>
                </ul>
    
                <li><a href="#0032">Расписание</a></li>
                <ul>
                    <li><a href="#0033">Звонки</a></li>
                    <li><a href="#0034">Уроки</a></li>
                </ul>
    
                <li><a href="#0035">Минимумы</a></li>
    
                <li><a href="#0036">Дневник</a></li>
                <ul>
                    <li><a href="#0037">Выгрузка оценок</a></li>
                    <li><a href="#0038">Классы</a></li>
                </ul>
    
            </ul>
    
            <li><a href="#0039">Разработка</a></li>
            <ul>
                <li><a href="#0040">Что тут делает ошибка?</a></li>
                <li><a href="#0041">А можно было получше?</a></li>
                <li><a href="#0042">А где документация?</a></li>
            </ul>
    
        </ul>
    </div>

    <hr class="mt-4">
    <h1 id="students">Ученики</h1>

    <h2 id="0001">Начало работы</h2>
    <h3 id="0002">Регистрация</h3>

    <p>Для того, чтобы начать работу с этим дневником, вам нужно зарегистрироваться. Любой ученик может зарегистрироваться свободно, перейдя на страницу регистрации.</p>
    <p>Регистрируясь, будьте внимательны и правильно заполняйте персональные данные, так как после регистрации вы не сможете их изменить без помощи администратора. Кроме того, мы убедительно просим указать полные имя и фамилию и не сокращать их, так как указанные данные будут видеть учителя и администраторы.</p>
    <p>Почта, указанная вами при регистрации играет роль постоянного логина, за исключением того, что если вы забыли пароль от учётной записи, то вы сможете легко его сбросить, используя почту. ФИО и почта используются для идентификации вас среди других учеников учителями и администраторами.</p>
    <p>После регистрации вы в любой момент можете зайти в аккаунт на странице входа.</p>

    <h3 id="0003">Присоединение к классу</h3>
    <p>После регистрации вы не будете состоять в классе. Вам необходимо сказать вашему классному руководителю почту, на которую вы зарегистрированы, после чего ваш учитель добавит вас в свой класс. Сразу же после этого вы получите доступ к оценкам и домашнему заданию.</p>

    <h2 id="0004">Оценки</h2>
    <p>
    Вы можете увидеть свои оценки, зайдя на эту страницу и выбрав четверть. 
    После этого отобразится таблица с оценками.
    </p>
    <p>
    В таблице оценки расположены по рядам, где каждый ряд - определенный предмет. 
    Кликнув на любую оценку вы увидите более подробные данные: дата, на которую поставлена оценка, 
    тема урока, а также персональный комментарий к оценке, если он был оставлен учителем.
    </p>
    <p>
    Колонка AVG показывает среднее арифметическое: сумма баллов, поделенная на количество оценок.
    </p>
    <p>
    Колонка SM.AVG покажет более правдоподобный балл: это средний взвешенный балл оценок. 
    Это значение высчитывается, исходя из значимости каждой оценки в зависимости от важности того 
    или иного вида работы. Таким образом, оценка за домашнее задание будет влиять на SM.AVG слабее, 
    чем контрольная. Эта система ещё колибруется.
    </p>
    <p>
    Нажав на название предмета, вы перейдете на страницу только с оценками за этот предмет, 
    на котором будет видна диаграмма с соотношением баллов. Под диаграммой вы увидите дополнительную информацию, 
    например количество пятёрок, нужное, чтобы в четверти была оценка на балл выше (по среднему арифметическому).
    </p>
    <p>
    Нажав на кнопку ниже таблицы с оценками, вы можете скопировать таблицу и вставить в Word, например.</p>

    <h2 id="0005">Домашнее задание</h2>
    <p>
    Вы также можете просмотреть заданное домашнее задание, которое добавляют учителя, на этой странице. 
    Там вы можете увидеть домашнее задание на неделю вперёд (по умолчанию) или на определенный день.
    </p>
    <p>
    Учитель также может добавить какой-нибудь файл к заданию, который вы можете скачать, 
    кликнув на ссылку под описанием задания.
    </p>

    <h2 id="0006">Минимумы</h2>
    <p>
    Скачивайте минимумы в формате документа Word, выбрав класс, предмет и четверть на этой странице. 
    Если минимум не был добавлен, попросите администратора добавить его.
    </p>

    <h2 id="0007">Расписание</h2>
    <p>
    Вы можете увидеть своё расписание, перейдя на эту страницу. Если расписание не полное или отсутствует, 
    попросите администратора добавить.
    </p>

    <h2 id="0008">Родители</h2>
    <p>
    Так как этот проект был сделан с исключительной целью помочь и сделать нашу жизнь лучше и удобнее, 
    то родители не предусмотрены как одни из пользователей дневника. Если вы заинтересованы в том, чтобы ваши 
    родственники смогли видеть ваши оценки или домашнее задание, то просто дайте им логин и пароль от аккаунта. 
    С помощью функционала дневника классные руководители могут продолжать выдавать вам таблицы с вашими оценками, 
    с которыми, как обычно, ознакомятся родители.
    </p>

    <h2 id="0009">Связь с администраторами</h2>
    <p>
    Если вам потребовалось изменить персональные данные (к примеру, есть ошибка), 
    то со страницы профиля вы можете отправить администратору сообщение с просьбой изменить данные.
    </p>

    <hr class="mt-4">
    <h1 id="teachers">Учителя</h1>

    <div class="alert alert-info">
        Справочное руководство появится в ближайшее время...
    </div>

    <hr class="mt-4">
    <h1 id="admins">Администраторы</h1>

    <div class="alert alert-info">
        Справочное руководство появится в ближайшее время...
    </div>


    <hr class="mt-4">

    <h1 id="0039">Разработка</h1>

    <h2 id="0040">Что тут делает ошибка?</h2>
    <p>
    Прежде всего, мы допускаем, что в ходе разработки мы могли не заметить какие-то ошибки или баги, 
    которые могли заметить вы. В случае обнаружения такой ошибки, вы можете добавить карточку в блок &ldquo;Баги&rdquo; 
    на нашей доске в Trello. И вы очень нам поможете сделать этот дневник лучше.
    </p>

    <h2 id="0041">А можно было получше?</h2>
    <p>
    Так как дневник должен быть удобен нам всем, то мы с радостью принимаем любые пожелания.
    Если же вы и сами обладаете достаточным опытом в сфере разработки и желаете развивать дневник вместе с нами, 
    то мы только за. Для вопросов и предложений связывайтесь с нами через нашу группу ВКонтакте.
    </p>

    <h2 id="0042">А где документация?</h2>
    <p>
    Техническая документация для нашего проекта еще не была написана, но мы над этим работаем. 
    Пока что, у дневника есть репозиторий на GitHub, который постоянно обновляется. 
    Вся документация будет размещена там.
    </p>


</div>
{% endblock %}
