{% extends 'base/base.html' %}
{% load static %}

{% block title %}
<title>Электронный дневник diary56 - домашняя страница</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'pages/homepage.css' %}">
{% endblock  %}

{% block content %}
<div class="container">
    {% for m in messages %}
    <div class="alert my-5 alert-info">
        {{ m }}
    </div>
    {% endfor %}

    <!-- <div class="jumbotron my-5 text-center" id="join-us-jumbotron">
        <h1>Дневник, сделанный учениками для учеников</h1>
        <a href="{% url 'help_us' %}">Помочь развитию проекта</a><br>
        <a id="hide-jumbotron">Скрыть</a>
    </div> -->

    <div class="row my-5">
        {% if user.account_type == 0 or user.account_type == 1 %}
        <div class="col-md-4 col-sm-6 col-lg-3 my-3">
            <div class="card h-100">
                <a href="{% url 'admin_panel' %}"><img src="{% static '/admin_gui/admin_panel.png' %}" class="card-img-top" alt="Панель администратора"></a>
                <div class="card-body">
                    <h5 class="card-title">Панель администратора</h5>
                    <p class="card-text text-muted">Изменяйте данные системы электронного дневника.</p>
                  </div>
            </div>
        </div>
        {% elif user.account_type == 2 %}
        <div class="col-md-4 col-sm-6 col-lg-3 my-3">
            <div class="card h-100">
                <a href="{% url 'my_grade' %}"><img src="{% static 'grade.png' %}" class="card-img-top" alt="Мой класс"></a>
                <div class="card-body">
                    <h5 class="card-title">Мой класс</h5>
                    <p class="card-text text-muted">Настройте и просматривайте оценки учеников Вашего класса.</p>
                  </div>
            </div>
        </div>
        {% elif user.account_type == 3 %}
        <div class="col-md-4 col-sm-6 col-lg-3 my-3">
            <div class="card h-100">
                <a href="{% url 'homework' %}"><img src="{% static 'homework.png' %}" class="card-img-top" alt="Мой класс"></a>
                <div class="card-body">
                    <h5 class="card-title">Домашнее задание</h5>
                    <p class="card-text text-muted">Просмотр домашнего задания на любой день.</p>
                  </div>
            </div>
        </div>
        {% endif %}
        {% if user.account_type == 2 or user.account_type == 3 %}
        <div class="col-md-4 col-sm-6 col-lg-3 my-3">
            <div class="card h-100">
                <a href="{% url 'diary' %}"><img src="{% static 'diary.png' %}" class="card-img-top" alt="Дневник"></a>
                <div class="card-body">
                    <h5 class="card-title">Дневник</h5>
                    {% if user.account_type == 3 %}
                    <p class="card-text text-muted">Просматривайте свои оценки, успеваемость и домашнее задание.</p>
                    {% else %}
                    <p class="card-text text-muted">Выставляйте ученикам оценки и добавляйте домашнее задание.</p>
                    {% endif %}
                  </div>
            </div>
        </div>
        {% endif %}
        <div class="col-md-4 col-sm-6 col-lg-3 my-3">
            <div class="card h-100">
                <a href="{% url 'timetable' %}"><img src="{% static 'timetable.png' %}" class="card-img-top" alt="Расписание"></a>
                <div class="card-body">
                    <h5 class="card-title">Расписание</h5>
                    {% if user.account_type == 1 or user.account_type == 0 or user.account_type == 2 %}
                    <p class="card-text text-muted">Расписание для гимназистов с учетом последних изменений.</p>
                    {% else %}
                    <p class="card-text text-muted">Расписание Вашего учебного дня с учетом последних изменений.</p>
                    {% endif %}
                  </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-lg-3 my-3">
            <div class="card h-100">
                <a href="{% url 'minimum' %}"><img src="{% static 'minimum.png' %}" class="card-img-top" alt="Минимум"></a>
                <div class="card-body">
                    <h5 class="card-title">Минимум</h5>
                    <p class="card-text text-muted">Образовательный минимум по всем предметам.</p>
                  </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-lg-3 my-3">
            <div class="card h-100">
                <a href="{% url 'news' %}"><img src="{% static 'news.png' %}" class="card-img-top" alt="Новости"></a>
                <div class="card-body">
                    <h5 class="card-title">Новости</h5>
                    <p class="card-text text-muted">Следите за последними событиями, происходящими в гимназии.</p>
                  </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-lg-3 my-3">
            <div class="card h-100">
                <a href="{% url 'about' %}"><img src="{% static 'info.png' %}" class="card-img-top" alt="О проекте"></a>
                <div class="card-body">
                    <h5 class="card-title">О проекте</h5>
                    <p class="card-text text-muted">Все об этой версии электронного дневника и ее разработчиках.</p>
                  </div>
            </div>
        </div>
    </div>
</div>
<script>
    if (!("join-us-jumbotron" in localStorage)) {
        $('#join-us-jumbotron').css("display", "block");
    }
    // $('#hide-jumbotron').on("click", function() {
    //     $(this).parent().css("display", "none");
    //     localStorage.setItem("join-us-jumbotron", "hide");
    // })
</script>
{% endblock %}