{% extends 'base/base.html' %}
{% load static %}

{% block title %}
<title>Электронный дневник diary56</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'pages/homepage.css' %}" />
{% endblock %}

{% block content %}
<div class="container">

  {% for m in messages %}
  <div class="alert my-5 alert-info">{{ m }}</div>
  {% endfor %}
  
  {% if user.account_type == 3 and user.student.klass is None %}
  <div class="alert alert-warning mt-5">
    Вы не состоите в классе. Попросите вашего классного руководителя добавить
    вас в класс - до этого большая часть функционала будет недоступна.
  </div>
  {% endif %}

  <div class="row my-4">
    {% if user.account_type < 2 %}
    <div class="col-md-4 col-sm-6 col-lg-3 my-3">
      <div class="card h-100">
        <a href="{% url 'admin_panel' %}">
          <img src="{% static '/icons/panel.png' %}" id="admin-panel" class="card-img-top" alt="Панель администратора"/>
        <div class="card-body">
          <h5 class="card-title">Панель администратора</h5>
          <p class="card-text text-muted">
            Изменяйте данные системы электронного дневника
          </p>
        </div>
        </a>
      </div>
    </div>
    {% elif user.account_type == 2 %}
      {% include 'homepage/teachers.html' %}
    {% elif user.account_type == 3 and user.student.klass is not None %}
      {% include 'homepage/students.html' %}
    {% endif %}

    <div class="col-md-4 col-sm-6 col-lg-3 my-3">
      <div class="card h-100">
        <a href="{% url 'timetable' %}">
          <img
            src="{% static 'icons/calendar.png' %}"
            class="card-img-top"
            alt="Расписание"
          />
          <div class="card-body">
            <h5 class="card-title">Расписание</h5>
            <p class="card-text text-muted">
              Школьное расписание с учетом последних изменений
            </p>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-lg-3 my-3">
      <div class="card h-100">
        <a href="{% url 'minimum' %}">
          <img
            src="{% static 'icons/paper.png' %}"
            class="card-img-top"
            alt="Минимум"
          />
          <div class="card-body">
            <h5 class="card-title">Минимум</h5>
            <p class="card-text text-muted">
              Образовательный минимум по всем предметам
            </p>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-lg-3 my-3">
      <div class="card h-100">
        <a href="{% url 'news' %}">
          <img
            src="{% static 'icons/newspaper.png' %}"
            class="card-img-top"
            alt="Новости"
          />
          <div class="card-body">
            <h5 class="card-title">Новости</h5>
            <p class="card-text text-muted">
              Новостной блок от администраторов дневника
            </p>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-lg-3 my-3">
      <div class="card h-100">
        <a href="{% url 'about' %}">
          <img
            src="{% static 'icons/team.png' %}"
            class="card-img-top"
            alt="О проекте"/>
          <div class="card-body">
            <h5 class="card-title">О проекте</h5>
            <p class="card-text text-muted">
              Информация об этой версии электронного дневника
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
