{% extends 'base/base.html' %}
{% load static %}

{% block title %}
<title>Мой аккаунт</title>
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="card my-5">
        <div class="card-body">
            {% if user.account_type == 0 %}
                {% include "profile_page/root.html" %}
            {% elif user.account_type == 1 %}
                {% include "profile_page/admin.html" %}
            {% elif user.account_type == 2 %}
                {% include "profile_page/teacher.html" %}
            {% elif user.account_type == 3 %}
                {% include "profile_page/student.html" %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}