{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    <title>Регистрация</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/registration.css' %}">
<link rel="stylesheet" href="{% static 'css/card_width.css' %}">
{% endblock %}

{% block content %}
<div class="container my-5">
    {% if error %}
    <div class="alert alert-danger" role="alert">
        Такой пользователь уже существует
    </div>
    {% endif %}
    <div class="card card-50 my-3">
        <div class="card-body">
            <h5 class="card-title">Уже зарегистрированы?</h5>
            <a href="{% url 'login' %}" class="btn btn-primary">Войти</a>
        </div>
    </div>
    <div class="card card-50 my-3">
        <div class="card-body">
            <h1 class="card-title text-center">Регистрация нового ученика</h1>
            <form method="POST" onsubmit="event.preventDefault; return validateMyForm();">
                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
                {% csrf_token %}
                <hr>
                <p><i class="fas fa-exclamation-circle text-danger"></i>
                Регистрируйтесь внимательно, так как после заполнения формы
                Вам потребуется время, чтобы изменить персональные данные.
                Настоятельно рекомендуется указывать полное имя.</p>
                <hr>
                <div class="form-group">
                    {% with field=form.email %}
                        {% include 'field_template.html' %}
                    {% endwith %}
                </div>
                <div class="form-group">
                    {% with field=form.first_name %}
                        {% include 'field_template.html' %}
                    {% endwith %}
                </div>
                <div class="form-group">
                    {% with field=form.surname %}
                        {% include 'field_template.html' %}
                    {% endwith %}
                </div>
                <div class="form-group">
                    {% with field=form.second_name %}
                        {% include 'field_template.html' %}
                    {% endwith %}
                </div>
                <hr>
                <div class="form-group">
                    {% with field=form.password1 hide_label=True %}
                    {{ field.label_tag }}
                    <div class="input-group" id="show_hide_password">
                        {% include 'field_template.html' %}
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                        </span>
                    </div>
                    </div>
                    <div id="message" class="mx-5 my-3">
                        <p id="letter" class="invalid">Содержит <b>буквы</b></p>
                        <p id="number" class="invalid">Содержит минимум <b>1 число</b></p>
                        <p id="length" class="invalid">Содержит минимум <b>8 символов</b></p>
                    </div>
                    {% endwith %}
                </div>
                <div class="form-group">
                    {% with field=form.password2 %}
                        {% include 'field_template.html' %}
                    {% endwith %}
                </div>
                <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
            </form>
        </div>
    </div>
</div>
<script src="{% static 'js/registration.js' %}"></script>
<script>
    $(document).ready(function() {
        $("#show_hide_password a").on('click', function(event) {
            event.preventDefault();
            if($('#show_hide_password input').attr("type") == "text"){
                $('#show_hide_password input').attr('type', 'password');
                $('#show_hide_password i').addClass( "fa-eye-slash" );
                $('#show_hide_password i').removeClass( "fa-eye" );
            }else if($('#show_hide_password input').attr("type") == "password"){
                $('#show_hide_password input').attr('type', 'text');
                $('#show_hide_password i').removeClass( "fa-eye-slash" );
                $('#show_hide_password i').addClass( "fa-eye" );
                }
            });
        });
</script>
{% endblock %}