{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>О проекте</title>
{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<div class="container my-5">
    <h1>О нашем проекте</h1>
    <hr>
    <p>Дневник сделан командой IdeaSoft в рамках проекта "Школа IT-решений", проходившем в ГФМЛ№30.</p>
    <p>Его разработчики:</p>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 text-center">
            <img src="{% static 'pashs-ba.jpg' %}" alt="Павел Бардин" width="280px">
            <p class="my-1">Павел Бардин, школа №289</p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 text-center">
            <img src="{% static 'alantheknight.jpg' %}" alt="Максим Гусев" width="280px">
            <p class="my-1">Максим Гусев, гимназия №56</p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 text-center">
            <img src="{% static 'velutb.png' %}" alt="Марк Ефремов" width="280px">
            <p class="my-1">Марк Ефремов, гимназия №610</p>
        </div>
    </div>
</div>
{% endblock %}
