{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Оценки</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/card-align.css' %}">
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="card">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="subject">Предмет</label>
                    <select name="subject" id="subject" class="form-control">
                        {% for subject in subjects %}
                            <option value="{{ subject.id }}">{{ subject.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="term">Четверть</label>
                    <select name="term" id="term" class="form-control">
                        <option value="1">I</option>
                        <option value="2">II</option>
                        <option value="3">III</option>
                        <option value="4">IV</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Показать</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
