{% extends 'base/base.html' %}
{% load static %}

{% block title %}
<title>Оценки</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/card_align.css' %}">
<link rel="stylesheet" href="{% static 'css/card_width.css' %}">
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="card card-50">
        <div class="card-body">
            <h4 class="card-title">Оценки</h4>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="term">Четверть</label>
                    <select name="term" id="term" class="form-control auto-save">
                        <option value="1">I</option>
                        <option value="2">II</option>
                        <option value="3">III</option>
                        <option value="4">IV</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" name="all">Показать</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
