{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Справка</title>
<style>
    nav {
        line-height: 20px;
    }
    :target {
        background-color: yellow;
    }
</style>
{% endblock %}

{% block content %}
<div class="container my-5">
    <h1>Электронный дневник</h1>
    <p class="lead">Справочное руководство</p>
    <hr>
    <nav>
        <ul>
            <li><a href="#students">Ученики</a></li>
            <ul>
                <li><a href="#0001">Аккаунт</a></li>
                <li><a href="#0002">Добавление в класс</a></li>
                <li><a href="#0003">Просмотр оценок за четверть</a></li>
                <li><a href="#0004">Просмотр домашнего задания</a></li>
                <li><a href="#0005">Минимумы</a></li>
                <li><a href="#0006">Расписание</a></li>
            </ul>
       </ul>
    </nav>

    <h2 id="students">Ученики</h2>
    <h3 id="0001">Аккаунт</h3>
    <p>
        Вы можете зарегистрироваться, нажав на кнопку в верхнем правом углу главной страницы. 
        При регистрации Вы можете не указывать отчество, но мы убедительно просим указывать полные имя и фамилию.
        После регистрации Вы можете войти в свой аккаунт в любое время по ссылке diary56.com/login/ . 
        Если Вы случайно забыли пароль, то вы можете его восстановить со страницы входа или своего профиля.
    </p>
    <h3 id="0002">Добавление в класс</h3>
    <p>
        После регистрации Вы не будете состоять ни в одном классе. 
        Для того, чтобы получить возможность использовать дневник и просматривать домашнее задание, 
        попросите Вашего классного руководителя добавить Вас в свой класс.
    </p>
    <h3 id="0003">Просмотр оценок за четверть</h3>
    <p>
        Перейдите по ссылке diary56.com/diary/ , предварительно войдя в аккаунт. Выберите четверть и нажмите на кнопку. 
        После этого Вы сможете увидеть свои оценки. Нажмите на любую оценку, чтобы просмотреть более подробную информацию. 
        Вы также можете увидеть комментарий к оценке, если его добавил Ваш учитель. 
        <br>В таблице также есть колонки AVG и SM.AVG, первая из которых является средним арифметическим всех оценок, 
        а вторая — взвешенным средним баллом. Эта оценка является предполагаемой четвертной оценкой, которая высчитывается 
        на основании важности работы, за которую поставлена оценка. Так, домашнее задание считается менее важным, 
        чем самостоятельная или контрольная работа.
        <br>Также Вы можете нажать на название предмета в таблице и перейти на страницу с оценками только за этот предмет.
    </p>
    <h3 id="0004">Просмотр домашнего задания</h3>
    <p>
        Перейдите по ссылке diary56.com/diary/homework/ , предварительно войдя в аккаунт. 
        Вы можете просматривать оценки на неделю вперед (по умолчанию) или на определенный день, выбрав его в форме вверху страницы.
    </p>
    <h3 id="0005">Минимумы</h3>
    <p>
        Если вам потребуется скачать минимум по какому-либо предмету, перейдите по ссылке diary56.com/minimum/ , 
        где Вы можете выбрать предмет, класс и четверть, а затем скачать минимум в формате .doc или .docx Если Вы не можете найти минимум, 
        который вам нужен, попросите любого администратора его добавить.
    </p>
    <h3 id="0006">Расписание</h3>
    <p>
        Просматривайте расписание для вашего класса, перейдя по ссылке diary56.com/timetable/ . 
        Если расписание для Вашего класса не найдено или не заполнено полностью, то попросите любого администратора дозаполнить его.
    </p>



    
</div>
{% endblock %}
