{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Справка</title>
<style>
    nav {
        line-height: 20px;
    }
    :target {
        animation: highlight 8s ease-out forwards;
    }
    @keyframes highlight {
        0%{
            background-color: white;
        }
        10% {
            background-color: yellow;
        }
        100% {
            background-color: white;
        }
    }

    #contents > ul, #contents > ul > ul {
        list-style-type: disc;   
    }

</style>
{% endblock %}

{% block content %}
<div class="container my-5">
    <h1>Электронный дневник</h1>
    <p class="lead">Справочное руководство</p>
    <hr class="my-4">
    <a href="#collapse-area" class="btn btn-primary" role="button"  data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapse-area">Оглавление</a>
    
    <div class="collapse" id="collapse-area">
        <ul id="contents" class="my-4">
            <li><a href="#students">Ученики</a></li>
            <ul class="list">
                <li><a href="#0001">Начало работы</a></li>
                <ul>
                    <li><a href="#0002">Регистрация</a></li>
                    <li><a href="#0003">Присоединение к классу</a></li>
                </ul>
    
                <li><a href="#0004">Оценки</a></li>
                <li><a href="#0005">Домашнее задание</a></li>
                <li><a href="#0006">Минимумы</a></li>
                <li><a href="#0007">Расписание</a></li>
                <li><a href="#0008">Родители</a></li>
                <li><a href="#0009">Связь с администратором</a></li>
            </ul>
    
            <li><a href="#teachers">Учителя</a></li>
            <ul>
                <li><a href="#0010">Начало работы</a></li>
                <ul>
                    <li><a href="#0011">Регистрация</a></li>
                    <li><a href="">Доступ к ученикам</a></li>
                </ul>
    
                <li><a href="">Классы</a></li>
                <ul>
                    <li><a href="#0012">Создание класса</a></li>
                    <li><a href="#0013">Настройки класса</a></li>
                    <li><a href="#0014">Просмотр оценок учеников</a></li>
                </ul>
    
                <li><a href="#0015">Ученики</a></li>
                <ul>
                    <li><a href="#0016">Выставление оценок</a></li>
                    <li><a href="#0017">Комментарии к оценкам</a></li>
                    <li><a href="#0018">Домашнее задание</a></li>
                    <li><a href="#0019">Уроки</a></li>
                </ul>
    
                <li><a href="#0020">Связь с администратором</a></li>
                <li><a href="#0021">Дополнительно</a></li>
            </ul>
            
            <li><a href="#admins">Администраторы</a></li>
            <ul>
                <li><a href="#0022">Регистрация</a></li>
                <li><a href="#0023">Панель администратора</a></li>
    
                <li><a href="#0024">Работа с пользователями</a></li>
                <ul>
                    <li><a href="#0025">Администраторы</a></li>
                    <li><a href="#0026">Ученики</a></li>
                    <li><a href="#0027">Учителя</a></li>
                    <li><a href="#0028">Сообщения от пользователей</a></li>
                </ul>
    
                <li><a href="#0029">Новостной блок</a></li>
                <ul>
                    <li><a href="#0030">Применение</a></li>
                    <li><a href="#0031">Сообщения</a></li>
                </ul>
    
                <li><a href="#0032">Расписание</a></li>
                <ul>
                    <li><a href="#0033">Звонки</a></li>
                    <li><a href="#0034">Уроки</a></li>
                </ul>
    
                <li><a href="#0035">Минимумы</a></li>
    
                <li><a href="#0036">Дневник</a></li>
                <ul>
                    <li><a href="#0037">Выгрузка оценок</a></li>
                    <li><a href="#0038">Классы</a></li>
                </ul>
    
            </ul>
    
            <li><a href="#0039">Разработка</a></li>
            <ul>
                <li><a href="#0040">Что тут делает ошибка?</a></li>
                <li><a href="#0041">А можно было получше?</a></li>
                <li><a href="#0042">А где документация?</a></li>
            </ul>
    
        </ul>
    </div>

    <hr class="my-4">

    <div class="alert alert-info">
        <i class="fas fa-tools mx-2"></i>Справочное руководство появится в ближайшее время...
    </div>


</div>
{% endblock %}
