{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Справка</title>
<style>
    h1 {
        font-size: 32px;
    }
    nav {
        line-height: 20px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container my-5">
    <h1>Справочная документация</h1>
    <p class="lead">Документация включает в себя набор инструкций использования сайта учениками, учителями и администраторами.</p>
    <nav>
        <ul>
            <li><a href="#students">Ученики</a></li>
            <ul>
                <li><a href="#0001">Регистрация</a></li>
                <li><a href="#0002">Сброс пароля</a></li>
                <li><a href="#0003">Просмотр данных аккаунта</a></li>
                <li><a href="#0004">Изменение данных аккаунта</a></li>
                <li><a href="#0005">Добавление в класс</a></li>
            </ul>
        </ul>
        <ul>
            <li><a href="#teachers">Учителя</a></li>
            <ul>
                <li><a href="#1001">Регистрация</a></li>
                <li><a href="#1002">Сброс пароля</a></li>
                <li><a href="#1003">Просмотр данных аккаунта</a></li>
                <li><a href="#1004">Изменение данных аккаунта</a></li>
                <li><a href="#1005">Создание класса</a></li>
                <li><a href="#1006">Добавление учеников в класс</a></li>

            </ul>
        </ul>
        <ul>
            <li><a href="#admins">Администраторы</a></li>
        </ul>
    </nav>

    <h3 id="students">Ученики</h3>
    <h4 id="0001">Регистрация</h4>
    <p>Для того, чтобы зарегистрироваться как ученик, перейдите на главную страницу и на
        навигационной панели в правом верхнем углу нажмите на кнопку "Зарегистрироваться".
        Введите свою электронную почту, а также имя, фамилию и отчество (необязательно), 
        придумайте пароль. Пароли в полях должны совпадать. Также проверьте, что пароль
        состоит из минимум 8 символов и содержит и цифры, и буквы. Подтвердите данные. Теперь,
        используя свой адрес электронной почты и пароль, вы можете зайти в свой аккаунт.
    </p>
    <h4 id="0002">Сброс пароля</h4>
    <p>Сбросить пароль от аккаунта можно двумя способами:</p>
    <p>1) При входе в аккаунт, если вы забыли свой пароль, нажмите на "Забыли пароль?" и
        перейдите по ссылке. На странице введите свой адрес электронной почты.
    </p>
    <p>2) На странице аккаунта, в разделе настроек, выберите пункт "Сброс пароля" и перейдите по
        ссылке. На странице введите свой адрес электронной почты.
    </p>
</div>
{% endblock %}
