{% extends 'base/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'pages/homepage.css' %}"/>
{% endblock %}

{% block js %}
    <script src="{% static 'js/homepage.js' %}" type="module"></script>
{% endblock %}

{% block content %}
    <div class="container">

        {% for m in messages %}
            <div class="alert my-4 alert-info">{{ m }}</div>
        {% endfor %}

        <div id="update-info" class="mt-5">
            <div class="card">
                <div class="card-header">
                    <a id="hide-update-info"><i class="fas fa-times"></i></a>
                </div>
                <div class="card-body text-center">
                    <h1>Diary56 2.0 🥳</h1>
                    <div>
                        Встречайте ещё больше интересных функций 🔥
                    </div>
                </div>
            </div>
        </div>

        {% if user.is_student and not user.student.in_klass %}
            <div class="alert alert-warning mt-5">
                Вы не состоите в классе. Попросите вашего классного руководителя добавить
                вас в класс - до этого большая часть функционала будет недоступна.
            </div>
        {% endif %}

        <div class="row my-5">
            <div class="col-12 col-lg-6 col-xl-8">
                <div class="row">
                    {% if user.is_admin %}
                        <div class="col-6 col-md-6 col-sm-6 col-lg-6 mb-3">
                            <div class="card h-100">
                                <a href="{% url 'admin_panel' %}">
                                    <img src="{% static '/icons/panel.png' %}" id="admin-panel"
                                         class="card-img-top icon" alt="Панель администратора"/>
                                    <div class="card-body"><h5 class="card-title">Панель администратора</h5></div>
                                </a>
                            </div>
                        </div>
                    {% elif user.is_teacher %}
                        <div class="col-6 col-md-6 col-sm-6 col-lg-6 mb-3">
                            <div class="card h-100">
                                <a href="{% url 'my_klass:my-klass' %}"><img src="{% static 'icons/class.png' %}" class="card-img-top icon" alt="Мой класс">
                                    <div class="card-body"><h5 class="card-title">Мой класс</h5></div>
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-sm-6 col-lg-6 mb-3">
                            <div class="card h-100">
                                <a href="{% url 'diary' %}"><img src="{% static 'icons/open-book.svg' %}"
                                                                 class="card-img-top icon" alt="Дневник">
                                    <div class="card-body"><h5 class="card-title">Журнал</h5></div>
                                </a>
                            </div>
                        </div>
                    {% elif user.is_student and user.student.in_klass %}
                        <div class="col-6 col-md-6 col-sm-6 col-lg-6 mb-3">
                            <div class="card h-100">
                                <a href="{% url 'homework' %}"><img src="{% static 'icons/studying.svg' %}" class="card-img-top icon" alt="">
                                    <div class="card-body text-center"><h5 class="card-title">Домашнее задание</h5></div>
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-sm-6 col-lg-6 mb-3">
                            <div class="card h-100">
                                <a href="{% url 'diary' %}"><img src="{% static 'icons/score.png' %}" class="card-img-top icon" alt="">
                                    <div class="card-body text-center"><h5 class="card-title">Оценки</h5></div>
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-sm-6 col-lg-6 mb-3">
                            <div class="card h-100">
                                <a href="{% url 'notes:notes' %}"><img src="{% static 'icons/pencil.png' %}" class="card-img-top icon" alt="">
                                    <div class="card-body text-center"><h5 class="card-title">Конспекты</h5></div>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                    <div class="col-6 col-md-6 col-sm-6 col-lg-6 mb-3">
                        <div class="card h-100">
                            <a href="{% url 'minimum' %}">
                                <img src="{% static 'icons/paper.png' %}" class="card-img-top icon" alt="Минимум"/>
                                <div class="card-body text-center"><h5 class="card-title">Минимум</h5></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-4">
                <div class="row">
                    {% if request.user.is_student and request.user.student.in_klass %}
                        <div class="col-12 col-lg-12 mb-3">
                            {% include 'homepage/timetable_card.html' %}
                        </div>
                    {% endif %}
                    <div class="col-12 col-lg-12">
                        {% include 'homepage/news_card.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Prevents "update info" card from being showed once it was hidden by user
        // by adding "hide_update_info" to localStorage.
        if (localStorage.hasOwnProperty("hide_update_info"))
            $("#update-info").hide();
        else {
            $("#hide-update-info").on("click", (e) => {
                localStorage.setItem("hide_update_info", "True");
                $("#update-info").hide();
            })
        }
    </script>
{% endblock %}
