{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Домашняя страница</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row my-5">
        {% if user.account_type == 0 or user.account_type == 1 %}
        <div class="col-md-4 col-sm-6 my-3">
            <div class="card h-100">
                <a href="{% url 'diary' %}"><img src="{% static '/admin_gui/admin_panel.png' %}" class="card-img-top" alt="Панель администратора"></a>
                <div class="card-body">
                    <h5 class="card-title">Панель администратора</h5>
                    <p class="card-text text-muted">Изменяйте данные системы электронного дневника.</p>
                  </div>
            </div>
        </div>
        {% elif user.account_type == 2 %}
        <div class="col-md-4 col-sm-6 my-3">
            <div class="card h-100">
                <a href="{% url 'my_grade' %}"><img src="{% static 'grade.png' %}" class="card-img-top" alt="Мой класс"></a>
                <div class="card-body">
                    <h5 class="card-title">Мой класс</h5>
                    <p class="card-text text-muted">Настройте и просматривайте оценки учеников Вашего класса.</p>
                  </div>
            </div>
        </div>
        {% endif %}
        {% if user.account_type == 2 or user.account_type == 3 %}
        <div class="col-md-4 col-sm-6 my-3">
            <div class="card h-100">
                <a href="/diary"><img src="{% static 'diary.png' %}" class="card-img-top" alt="Дневник"></a>
                <div class="card-body">
                    <h5 class="card-title">Дневник</h5>
                    {% if user.account_type == 3 %}
                    <p class="card-text text-muted">Просматривайте свои оценки, успеваемость и домашнее задание.</p>
                    {% else %}
                    <p class="card-text text-muted">Выставляйте ученикам оценки и добавляйте домашнее задание.</p>
                    {% endif %}
                  </div>
            </div>
        </div>
        {% endif %}
        <div class="col-md-4 col-sm-6 my-3">
            <div class="card h-100">
                <a href="/timetable"><img src="{% static 'timetable.png' %}" class="card-img-top" alt="Расписание"></a>
                <div class="card-body">
                    <h5 class="card-title">Расписание</h5>
                    {% if user.account_type == 1 or user.account_type == 0 or user.account_type == 2 %}
                    <p class="card-text text-muted">Расписание для гимназистов с учетом последних изменений.</p>
                    {% else %}
                    <p class="card-text text-muted">Расписание вашего учебного дня с учетом последних изменений.</p>
                    {% endif %}
                  </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 my-3">
            <div class="card h-100">
                <a href="/minimum"><img src="{% static 'minimum.png' %}" class="card-img-top" alt="Минимум"></a>
                <div class="card-body">
                    <h5 class="card-title">Минимум</h5>
                    <p class="card-text text-muted">Образовательный минимум по всем предметам.</p>
                  </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 my-3">
            <div class="card h-100">
                <a href="/news"><img src="{% static 'news.png' %}" class="card-img-top" alt="Новости"></a>
                <div class="card-body">
                    <h5 class="card-title">Новости</h5>
                    <p class="card-text text-muted">Следите за последними событиями, происходящими в гимназии.</p>
                  </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 my-3">
            <div class="card h-100">
                <a href="#"><img src="{% static 'info.png' %}" class="card-img-top" alt="О проекте"></a>
                <div class="card-body">
                    <h5 class="card-title">О проекте</h5>
                    <p class="card-text text-muted">Все об этой версии электронного дневника и ее разработчиках.</p>
                  </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 my-3">
            <div class="card h-100">
                <a href="/social"><img src="{% static 'social.png' %}" class="card-img-top" alt="Дневник"></a>
                <div class="card-body">
                    <h5 class="card-title">Гимназия в соцсетях</h5>
                    <p class="card-text text-muted">Наши страницы в ВК, Instagram и канал на YouTube.</p>
                  </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}