{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Удалить урок</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="card my-5">
        <div class="card-body">
            <p>Вы уверены, что хотите удалить урок "{{ item }}"?</p>
            <form action="{% url 'diary_lesson_delete' item.id  %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Подтвердить</button>
                <a href="{% url 'diary' %}" class="btn btn-success">Отмена</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}