{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
<title>Редактировать</title>
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="card">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <a href="{% url 'diary' %}" class="btn btn-secondary">Назад</a>
                <button type="submit" class="btn btn-primary">Изменить</button>

            </form>
            <a href="{% url 'delete-lesson' %}?pk={{ lesson.pk }}"><button class="btn btn-danger">Удалить</button></a>
        </div>
    </div>
</div>
{% endblock %}