{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Войти в аккаунт</title>
{% endblock %}

{% block css %}
<style>
	.card {
	margin: 0 auto;
	float: none;
	margin-bottom: 10px;
	}
</style>
<link rel="stylesheet" href="{% static 'css/card_width.css' %}">
{% endblock %}


{% block content %}
<div class="container">
	<div class="card login card-50 my-5">
		<div class="card-body">
			<h5 class="card-title">Войти</h5>
			{% if messages %}
			<div class="alert alert-info">
			{% for message in messages %}
			{{ message }}
			{% endfor %}
			</div>
			{% endif %}
			<form method="POST">
				{% csrf_token %}
				<div class="form-group">
					{{ form.email.label }}
					{{ form.email }}
				</div>
				<div class="form-group">
                    {{ form.password.label }}
                    <div class="input-group" id="show_hide_password">
                    {{ form.password }}
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                        </span>
                    </div>
                    </div>
                    <script>
                        $(document).ready(function() {
                            $("#show_hide_password a").on('click', function(event) {
                                event.preventDefault();
                                if($('#show_hide_password input').attr("type") == "text"){
                                    $('#show_hide_password input').attr('type', 'password');
                                    $('#show_hide_password i').addClass( "fa-eye-slash" );
                                    $('#show_hide_password i').removeClass( "fa-eye" );
                                }else if($('#show_hide_password input').attr("type") == "password"){
                                    $('#show_hide_password input').attr('type', 'text');
                                    $('#show_hide_password i').removeClass( "fa-eye-slash" );
                                    $('#show_hide_password i').addClass( "fa-eye" );
                                    }
                                });
                            });
                    </script>
                </div>
				<button type="submit" class="btn btn-primary">Войти</button>
				<p class="text-right"><a href="{% url 'reset_password' %}">Забыли пароль?</a></p>
			</form>
		</div>
	</div>
	<div class="card card-50 my-5">
		<div class="card-body">
			<h5 class="card-title">Нет аккаунта?</h5>
			<p>Бесплатно зарегистрируйтесь в системе и получите
				доступ к электронному дневнику, домашнему заданию и оценкам.
			</p>
			<a href="{% url 'register' %}" class="btn btn-primary">Создать аккаунт</a>
		</div>
	</div>
</div>
{% endblock %}