{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Оценки</title>
{% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="table-responsive">
            <table class="table-sm table-bordered">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Предмет</th>
                    <th scope="col" tabindex="0" data-trigger="focus" data-toggle="popover" title="Средний балл" data-content="Высчитывается исходя из среднего арифметического оценок.">AVG</th>
                    <th scope="col" tabindex="0" data-trigger="focus" data-toggle="popover" title="Взвешенный средний балл" data-content="Взвешенный балл высчитывается с помощью системы весов - исходя из значимости определенного вида работы.">SM.AVG</th>
                    <th scope="col" colspan="{{ max_length }}"></th>
                  </tr>
                </thead>
                <tbody>
                    {% for subject, marks in d.items %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td><a href="{{ subject.id }}">{{ subject }}</a></td>
                            <td class="text-center">{{ marks.0 }}</td>
                            <td class="text-center">{{ marks.1 }}</td>
                            {% for mark in marks.2 %}
                                {% if mark.amount == 2 %}
                                <td scope="col" style="color:red" tabindex="0" data-trigger="focus" data-toggle="popover" title="{{ mark.amount }}" data-content="{{ mark.lesson.date|date:'m.d' }}, {{ mark.lesson.control }}"><b>{{ mark.amount }}</b></td>
                                {% elif mark.amount == 3 %}
                                    <td scope="col" style="color:orangered" tabindex="0" data-trigger="focus" data-toggle="popover" title="{{ mark.amount }}" data-content="{{ mark.lesson.date|date:'m.d' }}, {{ mark.lesson.control }}"><b>{{ mark.amount }}</b></td>
                                {% elif mark.amount == 4 %}
                                    <td scope="col" style="color:darkorange" tabindex="0" data-trigger="focus" data-toggle="popover" title="{{ mark.amount }}" data-content="{{ mark.lesson.date|date:'m.d' }}, {{ mark.lesson.control }}"><b>{{ mark.amount }}</b></td>
                                {% elif mark.amount == 5 %}
                                    <td scope="col" class="text-success" tabindex="0" data-trigger="focus" data-toggle="popover" title="{{ mark.amount }}" data-content="{{ mark.lesson.date|date:'m.d' }}, {{ mark.lesson.control }}"><b>{{ mark.amount }}</b></tdcolspan="100">
                                {% else %}
                                    <td scope="col" class="text-secondary" tabindex="0" data-trigger="focus" data-toggle="popover" title="Н" data-content="{{ mark.lesson.date|date:'m.d' }}, {{ mark.lesson.control }}"><b>Н</b></td>
                                {% endif %}
                            {% endfor %}
                            
                            {% for n in marks.3 %}
                            <td></td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
              <p>Всего пропущено уроков: {{ total_missed  }}</p>
        </div>
        
    </div>
    <script>
        $('[data-toggle="popover"]').popover({ trigger: "focus" });



    </script>
{% endblock %}