{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Новости</title>
{% endblock %}

{% block content %}
<div class="container my-5">
    {% if news %}
        <div class="table-responsive-sm">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="text-center">Заголовок</th>
                        <th scope="col" class="text-center">Дата создания</th>
                        <th scope="col" class="text-center">Изменить</th>
                        <th scope="col" class="text-center">Удалить</th>
                        <th scope="col" class="text-center">Просмотреть</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in news %}
                        <tr>
                            <td>{{ post.title }}</td>
                            <td>{{ post.publication_date }}</td>
                            <td class="text-center"><a class="btn btn-sm btn-primary text-" href="{% url 'news_update' post.id %}"><i class="fas fa-edit"></i></a></td>
                            <td class="text-center"><a class="btn btn-sm btn-danger" href="{% url 'news_delete' post.id %}"><i class="fas fa-trash-alt"></i></a></td>
                            <td class="text-center"><a href="/news/articles/{{ post.slug }}" class="btn btn-primary btn-sm"><i class="fas fa-eye"></i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="alert alert-info">
            <p>Новости еще не были добавлены.</p>
        </div>
    {% endif %}

    <div class="text-center my-3">
        <a href="{% url 'news_create' %}" class="btn btn-success text-white"><i class="fas fa-plus"></i></a>
    </div>

    <nav class="mt-5">
        <ul class="pagination justify-content-center">
            {% if news.has_previous %}
                <li class="page-item"><a href="/news/dashboard/1" class="page-link">&laquo;</a></li>
                <li class="page-item"></li><a href="/news/dashboard/{{ news.previous_page_number }}" class="page-link">&lt;</a>
            {% endif %}

            <span class="current">
                <li class="page-item active"><a href="#" class="page-link">{{ news.number }}</a></li>
            </span>

            {% if news.has_next %}
                <li class="page-item"><a href="/news/dashboard/{{ news.next_page_number }}" class="page-link">&gt;</a></li>
                <li class="page-item"><a href="/news/dashboard/{{ news.paginator.num_pages }}" class="page-link">&raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
