{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Мой аккаунт</title>
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="card my-5">
        <div class="card-body">

            {% if user.account_type == 0 %}
            <div class="text-center">
                <img src="{% static 'user_types/roots.png' %}" alt="Суперпользователь" height=100 class="avatar">
                <p class="text-muted">Суперадминистратор</p>
            </div>
            <p><b>Адрес электронной почты: </b>{{ user.email }}</p>
            <a href="/admin/" class="">Перейти на панель администратора</a>

            {% elif user.account_type == 1 %}
            <div class="text-center">
                <img src="{% static 'user_types/roots.png' %}" alt="Администратор" height=100 class="avatar">
                <p class="text-muted">Администратор</p>
            </div>
            <p><b>Адрес электронной почты: </b>{{ user.email }}</p>
            <a href="/admin/" class="">Перейти на панель администратора</a>
            {% endif %}
            
        </div>
    </div>
</div>
{% endblock %}