{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Регистрация администратора</title>
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
    <link rel="stylesheet" href="{% static 'css/card_width.css' %}">
    <link rel="stylesheet" href="{% static 'css/card_align.css' %}">
{% endblock %}

{% block content %}
<div class="container my-5">
    {% if error %}
    <div class="alert alert-danger" role="alert">
        Такой администратор уже существует
    </div>
    {% endif %}
    <div class="card card-50">
        <div class="card-body">
            <h3 class="card-title text-center">Регистрация нового администратора</h3>
            <form method="POST" class="my-5 mx-5">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.email.label }}
                    {{ form.email }}
                </div>
                <div class="form-group">
                    {{ form.first_name.label }}
                    {{ form.first_name }}
                </div>
                <div class="form-group">
                    {{ form.surname.label }}
                    {{ form.surname }}
                </div>
                <div class="form-group">
                    {{ form.second_name.label }} (необязательно)
                    {{ form.second_name }}
                </div>
                <div class="form-group">
                    {{ form.subjects.label }}
                    {{ form.subjects }}
                </div>
                <div class="form-group">
                    {{ form.password1.label }}
                    <div class="input-group" id="show_hide_password">
                    {{ form.password1 }}
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                        </span>
                    </div>
                    </div>
                    <div id="message" class="mx-5 my-3">
                        <p id="letter" class="invalid">Содержит <b>латинские буквы</b></p>
                        <p id="number" class="invalid">Содержит минимум <b>1 число</b></p>
                        <p id="length" class="invalid">Содержит минимум <b>8 символов</b></p>
                    </div>
                    <script>
                        $(document).ready(function() {
                            $("#show_hide_password a").on('click', function(event) {
                                event.preventDefault();
                                if($('#show_hide_password input').attr("type") == "text"){
                                    $('#show_hide_password input').attr('type', 'password');
                                    $('#show_hide_password i').addClass( "fa-eye-slash" );
                                    $('#show_hide_password i').removeClass( "fa-eye" );
                                }else if($('#show_hide_password input').attr("type") == "password"){
                                    $('#show_hide_password input').attr('type', 'text');
                                    $('#show_hide_password i').removeClass( "fa-eye-slash" );
                                    $('#show_hide_password i').addClass( "fa-eye" );
                                    }
                                });
                            });
                    </script>
                </div>
                <div class="form-group">
                    {{ form.password2.label }}
                    {{ form.password2 }}
                </div>
                <p><small>Регистрируясь на этом сайте, вы принимаете условия <a href=#>пользовательского договора</a>.</small></p>
                <button type="submit" class="btn btn-primary">Зарегестрироваться</button>
            </form>
        </div>
    </div>
</div>
<script src="{% static 'js/registration.js' %}"></script>
{% endblock %}