{% extends 'base.html' %}
{% load static %}

{%  block title %}
    <title>
        Subjects
    </title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/teacher.css' %}">
{% endblock %}

{% block content %}
{#  TODO find better place for error message  #}
{#  TODO create frontend #}
    {% if messages %}
			<div class="alert alert-danger">
			{% for message in messages %}
			{{ message }}
			{% endfor %}
			</div>
			{% endif %}
        <form method="POST" >
        {% csrf_token %}
            <select name="subject">
                {% for subject in subjects %}
                    <option>{{ subject }}</option>
                {% endfor %}
            </select>
            <select name="grade">
                {% for grade in grades %}
                    <option>{{ grade }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary">Найти</button>
        </form>
    <a href="{% url 'create-lessons' %}"><button class="btn btn-primary">Создать урок</button></a>
        {% if is_post %}
        <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Найти</button>
            <table class="table table-bordered ">
                <thead>
                    <tr>
                        <th scope="col">Ученики</th>
                        {% for lesson in  lessons %}
                            <a href="{% url 'lesson-page' %}?pk={{ lesson.pk }}">
                            <th scope="col">
                                <p>{{ lesson.date.day }}.{{ lesson.date.month }}</p>
                                <p>{{ lesson.control }}</p>
                            </th>
                            </a>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% for student, small_scope in scope.items %}
                    <tr>
                        <th scope="row">{{ student.first_name }} {{ student.surname }}</th>
                        {% for lesson, mark in  small_scope.items %}
                            {% if mark %}
                            <th><input class="inp_table" name="{{ student.account }}|{{ lesson.id }}" type="number" value="{{mark.amount}}" min="1" max="5"></th>
                            {% else %}
                            <th><input class="inp_table" name="{{ student.account }}|{{ lesson.id }}" type="number" value="" min="1" max="5"></th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
             </table>
        </form>
        {% endif %}
{% endblock %}