{% extends 'base.html' %}
{% load static %}

{%  block title %}
    <title>
        Subjects
    </title>
{% endblock %}

{% block content %}
        <form method="POST">
        {% csrf_token %}
            <select name="subject">
                {% for subject in subjects %}
                    <option>{{ subject }}</option>
                {% endfor %}
            </select>
            <select name="grade">
                {% for grade in grades %}
                    <option>{{ grade }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary">Найти</button>
        </form>
        {% if is_post %}
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">Ученики</th>
                    {% for lesson in  lessons %}
                    <th scope="col">{{ lesson.date.day }}.{{ lesson.date.month }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for student in students %}
                <tr>
                    <th scope="row">{{ student.first_name }} {{ student.surname }}</th>
                    {% for mark in marks.0 %}
                        {% if mark %}
                        <th>{{mark.amount}}</th>
                        {% else %}
                        <th> </th>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}

{% endblock %}