{% extends 'base.html' %}
{% load static %}

{%  block title %}
    <title>
        Subjects
    </title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/teacher.css' %}">
{% endblock %}

{% block content %}
{#  TODO find better place for error message  #}
{#  TODO create frontend #}
    {% if messages %}
			<div class="alert alert-danger">
			{% for message in messages %}
			{{ message }}
			{% endfor %}
			</div>
			{% endif %}
        <form method="POST">
        {% csrf_token %}
            <select name="subject">
                {% for subject in subjects %}
                    <option>{{ subject }}</option>
                {% endfor %}
            </select>
            <select name="grade">
                {% for grade in grades %}
                    <option>{{ grade }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary">Найти</button>
        </form>
        {% if is_post %}
        <form method="POST">
            <table class="table table-bordered ">
                <thead>
                    <tr>
                        <th scope="col">Ученики</th>
                        {% for lesson in  lessons %}
                        <th scope="col">{{ lesson.date.day }}.{{ lesson.date.month }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% for student, marks in scope.items %}
                    <tr>
                        <th scope="row">{{ student.first_name }} {{ student.surname }}</th>
                        {% for mark in marks %}
                            {% if mark %}
                            <th><input class="inp_table" type="number" value="{{mark.amount}}" min="1" max="5" name="{{ student.account }}"></th>
                            {% else %}
                            <th><input class="inp_table" type="number" value="" min="1" max="5" name="{{ student.account }}"></th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </form>
        {% endif %}

{% endblock %}