<div class="modal fade" id="lessonmodal" data-bs-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lessonmodalLabel">Добавление урока</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="{{ form.date.auto_id }}" class="form-label">{{ form.date.label }}</label>
                    <div class="input-group mb-3">
                        {% with field=form.date hide_label=True %}
                            {% include 'field.html' %}
                        {% endwith %}
                        <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                    </div>

                    <div class="mb-3">
                        {% with field=form.theme %}
                            {% include 'field.html' %}
                        {% endwith %}
                    </div>

                    <div class="mb-3">
                        {% with field=form.control %}
                            {% include 'field.html' %}
                        {% endwith %}
                    </div>

                    {% with field=form.is_planned %}
                        {% include 'field.html' %}
                    {% endwith %}

                    <div class="text-center">
                        <button type="submit" class="btn btn-outline-primary" name="createLesson">Добавить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    let lessonModalValue = false;

    function changeBtnText() {
        if (!lessonModalValue)
            $("#hwbutton").text("Скрыть");
        else
            $("#hwbutton").text("Домашнее задание");
        lessonModalValue = !lessonModalValue;
    }
</script>

{% if form.errors %}
    <script>
        $("#lessonmodal").modal("show")
    </script>
{% endif %}