<div class="modal fade" id="editLessonModal" data-bs-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Изменение урока</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data">
                    <label for="{{ lessonEditForm.date.auto_id }}" class="form-label">{{ lessonEditForm.date.label }}</label>
                    <div class="input-group mb-3">
                        {% with field=lessonEditForm.date hide_label=True %}
                            {% include 'field.html' %}
                        {% endwith %}
                        <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                    </div>

                    <div class="mb-3">
                        {% with field=lessonEditForm.theme %}
                            {% include 'field.html' %}
                        {% endwith %}
                    </div>

                    <div class="mb-3">
                        {% with field=lessonEditForm.control %}
                            {% include 'field.html' %}
                        {% endwith %}
                    </div>

                    <div class="mb-3">
                        {% with field=lessonEditForm.is_planned %}
                            {% include 'field.html' %}
                        {% endwith %}
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-outline-primary" name="editLesson">Сохранить</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>

{% if form.errors %}
    <script>
        $(window).load(function () {
            $("#editLessonModal").modal("show")
        })
    </script>
{% endif %}