<div class="modal fade" id="homeworkModal" data-bs-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Добавление д/з</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal">

                </button>
            </div>
            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <label for="id_date" class="form-label">Дата, на которую вы задаете д/з</label>
                    <div class="input-group mb-3">
                        {% with field=hw_form.date hide_label=True %}
                            {% include 'field.html' %}
                        {% endwith %}
                        <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                    </div>
                    <div class="mb-3">
                        {% with field=hw_form.content %}
                            {% include 'field.html' %}
                        {% endwith %}
                    </div>
                    <div class="mb-3">
                        {% with field=hw_form.h_file %}
                            {% include 'field.html' %}
                        {% endwith %}
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-outline-primary text-center" name="addhomework">Добавить
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>


{% if 'addhomework' in request.POST and hw_form.errors %}
    <script>
        $(window).load(function () {
            $("#homeworkModal").modal("show");
        })
    </script>
{% endif %}