{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
<title>Минимум</title>
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="card my-5">
        <div class="card-body">
        <h5 class="card-title">Скачать минимум</h5>
        <iframe src="https://docs.google.com/gview?url={{ request.get_host|add:minimum.file.path }}&embedded=true"
            height="300px"></iframe>
        <div>
            <a class="btn btn-primary my-4" href="{{ minimum.file.url }}">Скачать</a>
        </div>
        </div>
    </div>
</div>
{% endblock %}