{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
<title>Минимум</title>
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="card">
        <div class="card-body">
        <form method="POST" class="px-5">
            {% csrf_token %}
            <div class="form-group">
                {{ form.subject.label_tag }}
                {{ form.subject }}
            </div>
            <div class="form-group">
                {{ form.grade.label_tag }}
                {{ form.grade }}
            </div>
            <div class="form-group">
                {{ form.term.label_tag }}
                {{ form.term }}
            </div>
            <button type="submit" class="btn btn-outline-primary">Скачать</button>
        </form>
        </div>
    </div>


</div>
{% endblock %}