{% extends 'base/base.html' %}
{% load static %}

{% block title %}
<title>Оценки</title>
{% endblock %}

{% block css %}
<style>
    .sm-width {
        width:2%;
    }
    .md-width {
        width:10%;
    }
</style>
<script src="{% static 'js/clipboard.min.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container my-5">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'my_grade' %}">Класс</a></li>
            <li class="breadcrumb-item active" aria-current="page">Оценки</li>
        </ol>
    </nav>

    <div class="my-4">
        <form method="GET">
            <div class="form-group">
                <label for="quarter">Четверть: </label>
                <select name="quarter" class="form-control" id="quarter">
                    <option value="1" {% if term == 1 %} selected {% endif %}>I</option>
                    <option value="2" {% if term == 2 %} selected {% endif %}>II</option>
                    <option value="3" {% if term == 3 %} selected {% endif %}>III</option>
                    <option value="4" {% if term == 4 %} selected {% endif %}>IV</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Показать</button>
        </form>
    </div>

    {% if no_marks %}

    <div class="card card-body">
        <div class="text-center">
            <img src="{% static 'search.svg' %}" alt="" width="80">
            <p class="text-muted my-3">Мы не можем найти ни одной оценки на эту четверть.</p>
        </div>
    </div>
    
    {% else %}

    <div id="marks" class="card card-body my-4">
    <p>
    <b>Ученик/ученица</b>: {{ student.surname }} {{ student.first_name }}
    <br>
    <b>Класс</b>: {{ student.grade }}
    <br>
    <b>Четверть</b>: {{ term }}
    </p>
    <div class="table-responsive mt-4">
        <table class="table table-sm table-bordered">
            <thead>
                <tr>
                <th scope="col" width="15%">Предмет</th>
                <th scope="col" class="text-center" tabindex="0" data-trigger="focus" data-toggle="popover" title="Средний балл" data-content="Высчитывается исходя из среднего арифметического оценок.">
                    AVG
                </th>
                <th scope="col" class="text-center" tabindex="0" data-trigger="focus" data-toggle="popover" title="Взвешенный средний балл" data-content="Взвешенный балл высчитывается с помощью системы весов - исходя из значимости определенного вида работы.">
                    SM.AVG
                </th>
                <th scope="col" colspan="{{ max_length }}"></th>
                </tr>

            </thead>
            <tbody>
                {% for group, marks in d.items %}
                    <tr>
                        <td class="md-width">{{ group.subject }}</td>
                        <td class="text-center md-width">{{ marks.0 }}</td>
                        <td class="text-center md-width">{{ marks.1 }}</td>
                        {% for mark in marks.2 %}

                            {% if mark.amount == 2 %}
                            <td scope="col" style="color:red" tabindex="0" data-trigger="focus" data-toggle="popover" title="{{ mark.lesson.date|date:'d.m, D' }}" data-content="<i>{{ mark.lesson.theme }}</i><br><b>{{ mark.lesson.control }}</b><br>{{ mark.comment }}"><b>{{ mark.amount }}</b></td>
                            {% elif mark.amount == 3 %}
                                <td scope="col" style="color:orangered" tabindex="0" data-trigger="focus" data-toggle="popover" title="{{ mark.lesson.date|date:'d.m, D' }}" data-content="<i>{{ mark.lesson.theme }}</i><br><b>{{ mark.lesson.control }}</b><br>{{ mark.comment }}"><b>{{ mark.amount }}</b></td>
                            {% elif mark.amount == 4 %}
                                <td scope="col" style="color:darkorange" tabindex="0" data-trigger="focus" data-toggle="popover" title="{{ mark.lesson.date|date:'d.m, D' }}" data-content="<i>{{ mark.lesson.theme }}</i><br><b>{{ mark.lesson.control }}</b><br>{{ mark.comment }}"><b>{{ mark.amount }}</b></td>
                            {% elif mark.amount == 5 %}
                                <td scope="col" class="text-success" tabindex="0" data-trigger="focus" data-toggle="popover" title="{{ mark.lesson.date|date:'d.m, D' }}" data-content="<i>{{ mark.lesson.theme }}</i><br><b>{{ mark.lesson.control }}</b><br>{{ mark.comment }}"><b>{{ mark.amount }}</b></tdcolspan="100">
                            {% else %}
                                <td scope="col" class="text-secondary" tabindex="0" data-trigger="focus" data-toggle="popover" title="{{ mark.lesson.date|date:'d.m, D' }}" data-content="<i>{{ mark.lesson.theme }}</i><br><b>{{ mark.lesson.control }}</b><br>{{ mark.comment }}"><b>Н</b></td>
                            {% endif %}
                        {% endfor %}
                        
                        {% for n in marks.3 %}
                        <td></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
            </table>
            <p>Всего пропущено уроков: {{ total_missed  }}</p>
    </div>
    </div>
    <button type="button" class="btn btn-primary copy_btn copy" data-clipboard-target="#marks"><i class="fas fa-copy"></i></button>
    
    {% endif %}
</div>
<script>
    $('[data-toggle="popover"]').popover({ trigger: "focus", html:true });
    
    $('.copy').tooltip({
        trigger: 'click',
        placement: 'bottom'
        });

    function setTooltip(message) {
        $('.copy').tooltip('hide')
            .attr('data-original-title', message)
            .tooltip('show');
    }
        
    function hideTooltip() {
        setTimeout(function() {
            $('.copy').tooltip('hide');
        }, 1000);
    }

    clipboard = new ClipboardJS('.copy_btn');

    clipboard.on('success', function(e) {
        e.clearSelection();
        setTooltip('Скопировано!');
        hideTooltip();
    });
    
</script>
{% endblock %}