<div class="card card-75 my-4">
    <div class="card-body">
        <h2 class="card-title">Добавление ученика</h2>
        <form method="GET" autocomplete="off">
            <div class="form-group">
                <label for="email">Почта</label>
                <input type="text" name="email" id="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="name">Имя</label>
                <input type="text" name="first_name" id="name" class="form-control">
            </div>
            <div class="form-group">
                <label for="surname">Фамилия</label>
                <input type="text" name="surname" id="surname" class="form-control">
            </div>
            <button class="btn btn-primary" type="submit" name="search">Найти</button>
            <a href="{% url 'my_grade' %}" class="btn btn-secondary">Отмена</a>
        </form>
        {% if 'search' in request.GET %}
            {% if search %}
            <div class="table-responsive">
            <table class="table my-5 text-center">
                <thead class="thead-dark">
                    <th>Почта</th>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Класс</th>
                    <th>Добавить</th>
                </thead>
                <tbody>
                    {% for s in search %}
                    <tr>
                        <td>{{ s.account.email }}</td>
                        <td>{{ s.first_name }}</td>
                        <td>{{ s.surname }}</td>
                        {% if s.grade is not None %}
                        <td>{{ s.grade }}</td>
                        <td>-</td>
                        {% else %}
                        <td>Не состоит</td>
                        <td><a href="{% url 'add_student' s.account %}" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i></a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            {% else %}
            <div class="alert alert-info mt-5">
                Ученики по запросу не найдены.
            </div>
            {% endif %}
        {% endif %}
    </div>
</div>
