{% extends 'base/base.html' %}
{% load static %}

{% block title %}
<title>Добавить учеников</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/card_align.css' %}">
<link rel="stylesheet" href="{% static 'css/card_width.css' %}">
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="card my-5 card-75">
        <div class="card-body">
            <h2 class="card-title">Ученики в классе</h2>
            {% if students %}
            <div class="table-responsive">
                <table class="table my-3 text-center table-sm">
                    <thead class="thead-dark">
                        <th>Почта</th>
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>Удаление</th>
                    </thead>
                    <tbody>
                        {% for s in students %}
                        <tr>
                            <td>{{ s.account.email }}</td>
                            <td>{{ s.first_name }}</td>
                            <td>{{ s.surname }}</td>
                            <td><a href="{%  url 'delete_student' s.account %}" class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            {% else %}
            <div class="alert alert-info">
                Ученики еще не добавлены в класс.
            </div>
            {% endif %}
        </div>
    </div>
    <div class="card card-75 my-5">
        <div class="card-body">
            <h2 class="card-title">Добавление учеников</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">Почта</label>
                    {{ form.email }}
                </div>
                <div class="form-group">
                    <label for="name">Имя</label>
                    {{ form.first_name }}
                </div>
                <div class="form-group">
                    <label for="surname">Фамилия</label>
                    {{ form.surname }}
                </div>
                <button class="btn btn-primary" type="submit">Найти</button>
            </form>
            {% if search %}
                <div class="table-responsive">
                <table class="table my-5 text-center">
                    <thead class="thead-dark">
                        <th>Почта</th>
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>Класс</th>
                        <th>Добавить</th>
                    </thead>
                    <tbody>
                        {% for s in search %}
                        <tr>
                            <td>{{ s.account.email }}</td>
                            <td>{{ s.first_name }}</td>
                            <td>{{ s.surname }}</td>
                            {% if s.grade is not None %}
                            <td>{{ s.grade }}</td>
                            <td>-</td>
                            {% else %}
                            <td>Не состоит</td>
                            <td><a href="{% url 'add_student' s.account %}" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i></a></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
                {% else %}
                <div class="alert alert-info mt-5">
                    Ученики по запросу не найдены.
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
