{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Добавить учеников</title>
<style>
    .card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    }
</style>
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="card w-50">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{ form }}
                </div>
                <button class="btn btn-primary" type="submit">Найти</button>
            </form>
            
        </div>
    </div>
    {% if search %}
    <table class="table my-5 text-center">
        <thead class="thead-dark">
            <th>Почта</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Класс</th>
            <th>Добавить</th>
        </thead>
        <tbody>
            {% for s in search %}
            <tr>
                <td>{{ s.account.email }}</td>
                <td>{{ s.first_name }}</td>
                <td>{{ s.surname }}</td>
                {% if grade is None %}
                <td>Не состоит</td>
                <td><a href="{% url 'add_student' s.account %}" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i></a></td>
                {% else %}
                <td>{{ s.grade }}</td>
                <td>-</td>
                {% endif %}

            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="alert alert-info mt-5">
        Ученики по запросу не найдены.
    </div>
    {% endif %}
</div>
{% endblock %}
