{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Мой класс</title>
{% endblock %}

{% block content %}
<div class="container">
    {% if grade is not None %}
    <div class="row">
        <div class="col-md-3 col-sm-6 my-3">
            <div class="card h-100">
                <a href="{% url 'add_student_page' %}"><img src="{% static 'students.png' %}" class="card-img-top" alt="Редактировать список учеников класса"></a>
                <div class="card-body">
                    <h5 class="card-title">Редактировать список учеников класса</h5>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="card my-5">
        <div class="card-body">
            <h3 class="card-title">Вы не являетесь классным руководителем</h3>
            <p>Вы можете <a href="{% url 'create_grade' %}">создать свой класс</a>.</p>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
